<mat-card>
    <mat-card-content class="create_user_page">
      <h2 class="title text-center color_blue">Resource Demand</h2>
      <mat-divider> </mat-divider>
      <mat-card-title class="p-t-30 p-b-10 color_blue">Requirement Details</mat-card-title>
      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
          <form class="basic-form" >
            <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0">
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Hiring Manager</mat-label>
                  <input matInput 
                    placeholder="Hiring Manager" formControlName="Hiring Manager" employeeNo />
                  
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="65" fxFlex="100">
                <section class="example-section">
                    <label class="example-margin">Demand Type:</label>
                    <mat-radio-group >
                      <mat-radio-button class="example-margin" value="Internal">
                        Internal
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" value="External">
                        External
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" value="Both"> Both </mat-radio-button>
                    </mat-radio-group>
                  </section>
              </div>
  
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Email Id</mat-label>
                  <input matInput placeholder="Email Id" formControlName="email" email />
                  
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
  
              
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <input matInput (click)="picker.open()" [matDatepicker]="picker" placeholder="Date Of Birth"
                    formControlName="dob" dob />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100" >
                <button class="button" mat-raised-button color="Basic" >
                    Today
                  </button>
                  <button class="button" mat-raised-button color="Basic" >
                    Tomorrow
                  </button>
                  <button class="button" mat-raised-button color="Basic" >
                   Next Monday
                  </button>
              </div>
              <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
                
              </div>
              <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-divider> </mat-divider>
            </div>
              <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
                <mat-card-title class="p-b-10 color_blue">Skills & Certifications</mat-card-title>
              </div>
  
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field>
                    <mat-select placeholder="Hiring Manager">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option">Option2</mat-option>
                      <mat-option value="option">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div fxFlex.gt-sm="70" fxFlex="100"></div>
              
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                    <mat-label>Hiring Manager</mat-label>
                    <input matInput 
                      placeholder="Hiring Manager" formControlName="Hiring Manager" employeeNo />
                     </mat-form-field>
              </div>
  
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                    <input type="text" matInput placeholder="Department" formControlName="departmentId" departmentId
                    
                      [matAutocomplete]="matAutocompleteDepartment">
                    <mat-autocomplete #matAutocompleteDepartment="matAutocomplete">
                      <!-- <mat-select placeholder="Department" formControlName="departmentId" departmentId
                      [ngClass]="{'is-invalid':submitted && f.departmentId.hasError}"> -->
                      <!-- <mat-option value="">Select</mat-option> -->
                      
                    </mat-autocomplete>
                    <!-- </mat-select> -->
    
                    <mat-error >
                      Department is required.
                    </mat-error>
                  </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="Employee Type" formControlName="employTypeId" employTypeId
                   
                    [matAutocomplete]="matAutocompleteEmpType">
                  <mat-autocomplete #matAutocompleteEmpType="matAutocomplete">
  
                    <!-- <mat-select placeholder="Employee Type" formControlName="employTypeId" employTypeId
                    [ngClass]="{'is-invalid':submitted && f.employTypeId.hasError}"> -->
                    <!-- <mat-option value="">Select</mat-option> -->
                    
                  </mat-autocomplete>
                  <!-- </mat-select> -->
                  
                </mat-form-field>
              </div>

              <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
                <mat-divider> </mat-divider>
              </div>

              <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
                <mat-card-title class="p-b-10 color_blue">Project Details</mat-card-title>
              </div>
  
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Project">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option">Option2</mat-option>
                      <mat-option value="option">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field>
                    <mat-select placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option">Option2</mat-option>
                      <mat-option value="option">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field>
                    <mat-select placeholder="Contact">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option">Option2</mat-option>
                      <mat-option value="option">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field>
                    <mat-select placeholder="Classification">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option">Option2</mat-option>
                      <mat-option value="option">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field>
                    <mat-select placeholder="Role">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option">Option2</mat-option>
                      <mat-option value="option">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                    <mat-label>Hiring Manager</mat-label>
                    <input matInput 
                      placeholder="Hiring Manager" formControlName="Hiring Manager" employeeNo />
                     </mat-form-field>
              </div>
              <mat-divider fxFlex.gt-sm="100" fxFlex="100"> </mat-divider>
              <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">
                <h4 class="m-0 m-t-20">Creator Name: <span class="p-l-25">Kunal</span></h4>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">
                <h4 class="m-0 m-t-20">Creator Role: <span class="p-l-25">Developer</span></h4>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100" class="p-10 text-center">
                <div class="m-0 m-t-15">
                  <button class="button" mat-raised-button color="primary" >
                    Grant Access
                    <!-- <mat-icon> arrow_right_alt </mat-icon> -->
                  </button>
                  <!-- <button mat-raised-button >OPen modal</button> -->
                </div>
              </div>
              <div fxFlex.gt-sm="25" fxFlex="100" class="p-10"></div>
            </div>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>