<mat-card>
  <mat-card-content class="create_user_page">
    <h2 class="title text-center color_blue">Resource Demand</h2>
    <mat-divider> </mat-divider>
    <mat-card-title class="p-t-20 p-b-10 color_blue">Requirement Details</mat-card-title>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
        <form class="basic-form" [formGroup]="form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0">
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Hiring Manager</mat-label>
                <mat-select placeholder="Hiring Manager" formControlName="managerId" managerId
                  [ngClass]="{'is-invalid':submitted && f.managerId.hasError}">
                  <!-- <mat-option value="">Hiring Manager</mat-option> -->
                  <mat-option [value]="item.id" *ngFor="let item of managers">
                    {{ item.firstName }} {{ item.lastName }}
                  </mat-option>

                </mat-select>
                <!-- <mat-select placeholder="Hiring Manager">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select> -->

                <mat-error *ngIf="submitted && checkError('managerId', 'required')">
                  Manager is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="65" fxFlex="100">
              <section class="example-section">
                <label class="example-margin">Demand Type:</label>
                <mat-radio-group formControlName="demandType" demandType
                  [ngClass]="{'is-invalid':submitted && f.demandType.hasError}">
                  <mat-radio-button *ngFor="let item of globals.demandTypes" class="example-margin"
                    [value]="item.value">
                    {{item.name}}
                  </mat-radio-button>
                  <!-- <mat-radio-button class="example-margin" value="External">
                    External
                  </mat-radio-button>
                  <mat-radio-button class="example-margin" value="Both"> Both </mat-radio-button> -->
                </mat-radio-group>

                <mat-error *ngIf="submitted && checkError('demandType', 'required')">
                  Demand type is required.
                </mat-error>
              </section>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Role Name :</mat-label>
                <input matInput placeholder="Operator" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <input matInput (click)="picker.open()" [matDatepicker]="picker" placeholder="Proposed Start Date" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="2" fxFlex="100"></div>
            <div fxFlex.gt-sm="33" fxFlex="100">
              <button class="button date-btn-default date-btn-active"  mat-raised-button >Today</button>
              <button class="button date-btn-default" mat-raised-button >Tomorrow</button>
              <button class="button date-btn-default" mat-raised-button >Next Monday</button>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10 m-b-40">
              <mat-label>Description</mat-label>
              <quill-editor placeholder="Enter Description"></quill-editor>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-30 m-t-30">
              <mat-divider> </mat-divider>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue">Skills & Certifications</mat-card-title>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Minimum Experiance</mat-label>
                <mat-select placeholder="Minimum Experiance">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="70" fxFlex="100"></div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="m-b-10">
              <mat-form-field class="demo-chip-list" appearance="outline">
                <mat-label>Certification Required</mat-label>
                <mat-chip-list #chipListCertificate>
                  <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                    (remove)="remove(fruit)">
                    {{ fruit.name }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Certifications required......" [matChipInputFor]="chipListCertificate"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)" />
                </mat-chip-list>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" class="m-b-10">
              <mat-form-field class="demo-chip-list" appearance="outline">
                <mat-label>License Required</mat-label>
                <mat-chip-list #chipListLicence>
                  <mat-chip *ngFor="let fruit of fruits2" [selectable]="selectable" [removable]="removable"
                    (remove)="remove(fruit)">
                    {{ fruit.name }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="License Required......" [matChipInputFor]="chipListLicence"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)" />
                </mat-chip-list>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" class="m-b-10">
              <mat-form-field class="demo-chip-list" appearance="outline">
                <mat-label>Plants Tickets</mat-label>
                <mat-chip-list #chipListTicket>
                  <mat-chip *ngFor="let fruit of fruits2" [selectable]="selectable" [removable]="removable"
                    (remove)="remove(fruit)">
                    {{ fruit.name }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Plants Tickets......" [matChipInputFor]="chipListTicket"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)" />
                </mat-chip-list>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-divider> </mat-divider>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue">Project Details</mat-card-title>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Project :</mat-label>
                <mat-select >
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Location :</mat-label>
                <mat-select >
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Contract :</mat-label>
                <mat-select placeholder="Contact">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Classification :</mat-label>
                <mat-select placeholder="Classification">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Role :</mat-label>
                <input type="text" placeholder="Role" aria-label="Role" matInput formControlName="roleId" roleId
                  [matAutocomplete]="auto" [ngClass]="{'is-invalid':submitted && f.roleId.hasError}">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option [value]="item.name" *ngFor="let item of roles">
                    {{ item.name }}
                  </mat-option>
                </mat-autocomplete>
                <!-- </mat-select> -->
                <mat-error *ngIf="submitted && checkError('roleId', 'required')">
                  Role is required.
                </mat-error>
                <!-- <mat-select placeholder="Role">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select> -->
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Rate :</mat-label>
                <input matInput placeholder="Hiring Manager" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Gang (optional) :</mat-label>
                <mat-select placeholder="Gang(optional)">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Commitment :</mat-label>
                <mat-select placeholder="Commitment">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="35" fxFlex="100"></div>
            <mat-divider fxFlex.gt-sm="100" fxFlex="100"> </mat-divider>
            <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">
              <h4 class="m-0 m-t-20">Creator Name: </h4>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">
              <h4 class="m-0 m-t-20">Creator Role:</h4>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100" class="p-10 text-center">
              <div class="m-0 m-t-15">
                <button class="button p-5 p-l-40 p-r-40" (click)="onSubmit()" mat-raised-button color="primary">
                  Create
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #resourceDemandDialog>
  <h1 mat-dialog-title align="center" class="color_blue" style="font-size: 28px; margin-bottom: 25px">
    Job Resource Demand Created !
  </h1>
  <div fxLayout="column wrap">
    <!-- <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
      <button class="m-b-20 button" mat-raised-button color="primary">Visit Job Board</button>
    </div> -->
    <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
      <button class="m-b-20 button" mat-raised-button color="primary">Visit Job Board</button>
    </div>
    <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
      <button class="button" mat-raised-button color="primary">Recommend an Employee</button>
    </div>
  </div>
</ng-template>