<mat-card>
  <mat-card-content class="create_user_page">
    <h2 class="title text-center color_blue">Resource Demand</h2>
    <mat-divider> </mat-divider>
    <mat-card-title class="p-t-20 p-b-10 color_blue">Requirement Details</mat-card-title>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
        <form class="basic-form" [formGroup]="form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0">
            <div fxFlex.gt-sm="100" fxFlex="100">
              <section class="example-section d-wrap">
                <label class="example-margin">Demand Type:</label>
                <mat-radio-group
                  formControlName="demandType"
                  class="m-b-sm20"
                  demandType
                  [ngClass]="{ 'is-invalid': submitted && f.demandType.hasError }"
                >
                  <mat-radio-button
                    *ngFor="let item of globals.demandTypes"
                    class="example-margin"
                    [value]="item.value"
                  >
                    {{ item.name }}
                  </mat-radio-button>
                  <!-- <mat-radio-button class="example-margin" value="External">
                    External
                  </mat-radio-button>
                  <mat-radio-button class="example-margin" value="Both"> Both </mat-radio-button> -->
                </mat-radio-group>

                <mat-error *ngIf="submitted && checkError('demandType', 'required')">
                  Demand type is required.
                </mat-error>
              </section>
            </div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Hiring Manager</mat-label>
                <mat-select
                  placeholder="Hiring Manager"
                  formControlName="managerId"
                  managerId
                  [ngClass]="{ 'is-invalid': submitted && f.managerId.hasError }"
                >
                  <!-- <mat-option value="">Hiring Manager</mat-option> -->
                  <mat-option [value]="item.id" *ngFor="let item of managers">
                    {{ item.firstName }} {{ item.lastName }}
                  </mat-option>
                </mat-select>
                <!-- <mat-select placeholder="Hiring Manager">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select> -->

                <mat-error *ngIf="submitted && checkError('managerId', 'required')">
                  Manager is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Role Title</mat-label>
                <input matInput placeholder="Operator" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="35" fxFlex="100"></div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <input
                  formControlName="propsedStartDate"
                  propsedStartDate
                  [ngClass]="{ 'is-invalid': submitted && f.propsedStartDate.hasError }"
                  matInput
                  (click)="picker.open()"
                  [matDatepicker]="picker"
                  placeholder="Proposed Start Date"
                />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="submitted && checkError('propsedStartDate', 'required')">
                  Proposed start date is required.
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100" class="m-b-sm20">
              <button class="button date-btn-default date-btn-active" mat-raised-button>
                Today
              </button>
              <button class="button date-btn-default" mat-raised-button>Tomorrow</button>
              <button class="button date-btn-default" mat-raised-button>Next Monday</button>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Commitment</mat-label>
                <mat-select
                  placeholder="Commitment"
                  formControlName="commitment"
                  commitment
                  [ngClass]="{ 'is-invalid': submitted && f.commitment.hasError }"
                >
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>

                <mat-error *ngIf="submitted && checkError('commitment', 'required')">
                  Commitment is required.
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10 m-b-40">
              <mat-label>Description</mat-label>
              <quill-editor
                formControlName="description"
                description
                [ngClass]="{ 'is-invalid': submitted && f.description.hasError }"
                placeholder="Enter Description"
              >
              </quill-editor>
              <mat-error *ngIf="submitted && checkError('description', 'required')">
                Description type is required.
              </mat-error>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10">
              <mat-divider> </mat-divider>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue">Project Details</mat-card-title>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Client</mat-label>
                <mat-select placeholder="Client" formControlName="Client">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Contract/EA</mat-label>
                <mat-select
                  placeholder="Contract/EA"
                  formControlName="contractType"
                  contractType
                  [ngClass]="{ 'is-invalid': submitted && f.contractType.hasError }"
                >
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>

                <mat-error *ngIf="submitted && checkError('contractType', 'required')">
                  contractType is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Project#/Job#</mat-label>
                <mat-select
                  formControlName="project"
                  project
                  [ngClass]="{ 'is-invalid': submitted && f.project.hasError }"
                >
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && checkError('project', 'required')">
                  Project is required.
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <mat-select
                  formControlName="location"
                  location
                  [ngClass]="{ 'is-invalid': submitted && f.location.hasError }"
                >
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>

                <mat-error *ngIf="submitted && checkError('location', 'required')">
                  location is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Gang (optional)</mat-label>
                <mat-select
                  placeholder="Gang(optional)"
                  formControlName="gang"
                  gang
                  [ngClass]="{ 'is-invalid': submitted && f.gang.hasError }"
                >
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Wage Classification</mat-label>
                <mat-select
                  placeholder="Wage Classification"
                  formControlName="classification"
                  classification
                  [ngClass]="{ 'is-invalid': submitted && f.classification.hasError }"
                >
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>

                <mat-error *ngIf="submitted && checkError('classification', 'required')">
                  classification is required.
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Role</mat-label>
                <input
                  type="text"
                  placeholder="Role"
                  aria-label="Role"
                  matInput
                  formControlName="roleId"
                  roleId
                  [matAutocomplete]="auto"
                  [ngClass]="{ 'is-invalid': submitted && f.roleId.hasError }"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option [value]="item.name" *ngFor="let item of roles">
                    {{ item.name }}
                  </mat-option>
                </mat-autocomplete>
                <!-- </mat-select> -->
                <mat-error *ngIf="submitted && checkError('roleId', 'required')">
                  Role is required.
                </mat-error>
                <!-- <mat-select placeholder="Role">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select> -->
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Award Type</mat-label>
                <input matInput placeholder="Award Type" formControlName="Award Type" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Rate</mat-label>
                <input
                  matInput
                  placeholder="Rate"
                  formControlName="rate"
                  rate
                  [ngClass]="{ 'is-invalid': submitted && f.rate.hasError }"
                />

                <mat-error *ngIf="submitted && checkError('rate', 'required')">
                  Rate is required.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Commitment</mat-label>
                <mat-select
                  placeholder="Commitment"
                  formControlName="commitment"
                  commitment
                  [ngClass]="{ 'is-invalid': submitted && f.commitment.hasError }"
                >
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>

                <mat-error *ngIf="submitted && checkError('commitment', 'required')">
                  Commitment is required.
                </mat-error>
              </mat-form-field>
            </div> -->
            <div fxFlex.gt-sm="70" fxFlex="100"></div>
            <mat-divider fxFlex.gt-sm="100" fxFlex="100"> </mat-divider>
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue">Skills & Certifications</mat-card-title>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Minimum Experiance</mat-label>
                <mat-select
                  placeholder="Minimum Experiance"
                  formControlName="minExperience"
                  minExperience
                  [ngClass]="{ 'is-invalid': submitted && f.minExperience.hasError }"
                >
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && checkError('minExperience', 'required')">
                  Minimun Experiance is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="70" fxFlex="100"></div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="m-b-10">
              <mat-form-field class="demo-chip-list" appearance="outline">
                <mat-label>Certification Required</mat-label>
                <mat-chip-list
                  #chipListCertificate
                  formControlName="certifications"
                  certifications
                  [ngClass]="{ 'is-invalid': submitted && f.certifications.hasError }"
                >
                  <mat-chip
                    *ngFor="let item of selectedCertifications"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(item, 'certification')"
                  >
                    {{ item }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Certifications required......"
                    [matChipInputFor]="chipListCertificate"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event, 'certification')"
                    [matAutocomplete]="autoCertificate"
                  />
                </mat-chip-list>
                <mat-autocomplete
                  #autoCertificate="matAutocomplete"
                  (optionSelected)="selected($event, 'certification')"
                >
                  <mat-option *ngFor="let item of certificateList" [value]="item.code">
                    {{ item.name }}
                  </mat-option>
                </mat-autocomplete>

                <mat-error *ngIf="submitted && checkError('certifications', 'required')">
                  Certification is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" class="m-b-10">
              <mat-form-field class="demo-chip-list" appearance="outline">
                <mat-label>License Required</mat-label>
                <mat-chip-list
                  #chipListLicence
                  formControlName="licenses"
                  licenses
                  [ngClass]="{ 'is-invalid': submitted && f.licenses.hasError }"
                >
                  <mat-chip
                    *ngFor="let item of selectedLicenses"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(item, 'licence')"
                  >
                    {{ item }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="License Required......"
                    [matChipInputFor]="chipListLicence"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event, 'licence')"
                  />
                </mat-chip-list>

                <mat-error *ngIf="submitted && checkError('licenses', 'required')">
                  Licenses is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" class="m-b-10">
              <mat-form-field class="demo-chip-list" appearance="outline">
                <mat-label>Plants Tickets</mat-label>
                <mat-chip-list
                  #chipListTicket
                  formControlName="tickets"
                  tickets
                  [ngClass]="{ 'is-invalid': submitted && f.tickets.hasError }"
                >
                  <mat-chip
                    *ngFor="let item of selectedTickets"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(item, 'ticket')"
                  >
                    {{ item }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Plants Tickets......"
                    [matChipInputFor]="chipListTicket"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event, 'ticket')"
                  />
                </mat-chip-list>

                <mat-error *ngIf="submitted && checkError('tickets', 'required')">
                  Tickets is required.
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-divider> </mat-divider>
            </div>
            <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">
              <!-- <h4 class="m-0 m-t-20">Creator Name: </h4> -->
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">
              <!-- <h4 class="m-0 m-t-20">Creator Role:</h4> -->
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100" class="p-10 text-center">
              <div class="m-0 m-t-15">
                <button
                  class=" m-l-30 m-r-30"
                  (click)="onSubmit()"
                  mat-raised-button
                  color="primary"
                >
                  Create
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #resourceDemandDialog>
  <h2 mat-dialog-title align="center" class="color_blue" style="font-size: 20px; margin-bottom: 0">
    Job Resource Demand Created
  </h2>
  <div fxLayout="column wrap">
    <!-- <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
      <button class="m-b-20 button" mat-raised-button color="primary">Visit Job Board</button>
    </div> -->
    <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
      <p><span class="text-danger">Demand ID</span> 12345</p>
    </div>
    <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
      <button class="m-b-20 m-t-20 button w-300" mat-raised-button color="primary">
        View Job Board
      </button>
    </div>
    <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
      <button class="button w-300" mat-raised-button color="primary">Recommend an Employee</button>
    </div>
  </div>
</ng-template>
