<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="30" fxFlex="100">
      <mat-card class="oh text-center little-profile">
        <img mat-card-image src="assets/images/background/profile-bg.jpg" class="profile-bg-height" alt="Images" />
        <mat-card-content>
          <div class="pro-img">
            <img src='../../../../assets/img/rtl-logo-new-icon.jpg'  width="100" alt="user" />
          </div>
          <h3 class="m-b-0">Robart Sheppard</h3>
          <h6 class="m-t-0 text-muted">Transport Manager</h6>
          <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
              <h5 class="m-0 font-light">RTL3469</h5>
              <h6 class="m-0 m-t-5 text-muted">RTLID</h6>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
              <h5 class="m-0 font-light">4/8/1972</h5>
              <h6 class="m-0 m-t-5 text-muted"><mat-icon style="font-size: 20px;">date_range</mat-icon></h6>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
              <h5 class="m-0 font-light">Male</h5>
              <h6 class="m-0 m-t-5 text-muted "><mat-icon style="font-size: 20px;">male</mat-icon></h6>
            </div>
          </div>
          <mat-list>
            <mat-card-content class="profile-mat-list">
              <mat-list-item class="text-muted">
                <mat-icon mat-list-icon>email</mat-icon>
                <p mat-line>rsheppard.rtl.com.au</p>
              </mat-list-item>
              <mat-list-item class="text-muted">
                <mat-icon mat-list-icon>call</mat-icon>
                <p mat-line>+61 221155475</p>
              </mat-list-item>
            </mat-card-content>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Card column -->
    <!-- Card column -->
    <div fxFlex.gt-sm="70" fxFlex="100">
        <mat-card class="m-0 m-t-20">
          <div class="list-space">
            <div>
              <mat-card-title class="m-0 p-20 p-l-25 p-b-0">My Activity</mat-card-title>
              <small class="p-l-25 text-muted">Checkout your recent activities</small>
            </div>
            <div class="p-20 p-r-25 all-btn">
              <button mat-raised-button class="p-l-30 p-r-30" color="primary">See All</button>
            </div>
          </div>
            <mat-card-content>
              <div class="d-flex no-blcok">
                
                <div class="m-r-20">
                  <img
                    class="img-circle"
                    width="35"
                    src='../../../../assets/img/present.png'
                    alt="Image of sfvsdcc"
                  />
                </div>
                <div class=" w-100">
                  <h4 class="m-0 m-t-5 list-space" >
                    <span>Completed Pre-start operation</span>
                    <span class="text-muted"><small>Just now</small></span>
                  </h4>
                  <hr class="m-t-15 m-b-20" />
                </div>
      
              </div>
              <div class="d-flex no-blcok">
                
                <div class="m-r-20">
                  <img
                    class="img-circle"
                    width="35"
                    src='../../../../assets/img/leave.png'
                    alt="Image of sfvsdcc"
                  />
                </div>
                <div class="w-100">
                  <h4 class="m-0 m-t-5 list-space">
                    <span>Applied for leave</span>
                    <span class="text-muted"><small>Just now</small></span>
                  </h4>
                  <hr class="m-t-15 m-b-20" />
                </div>
      
              </div>
              <div class="d-flex no-blcok">
                
                <div class="m-r-20">
                  <img
                    class="img-circle"
                    width="35"
                    src='../../../../assets/img/present.png'
                    alt="Image of sfvsdcc"
                  />
                </div>
                <div class="w-100">
                  <h4 class="m-0 list-space">
                    <span>Approved leave request of Kimberly</span>
                    <span class="text-muted"><small>Just now</small></span>
                  </h4>
                  <hr class="m-t-20 m-b-20" />
                </div>
      
              </div>
              <div class="d-flex no-blcok">
                
                <div class="m-r-20">
                  <img
                    class="img-circle"
                    width="35"
                    src='../../../../assets/img/present.png'
                    alt="Image of sfvsdcc"
                  />
                </div>
                <div class=" w-100">
                  <h4 class="m-0 list-space">
                    <span>Completed Pre-start operation</span>
                    <span class="text-muted"><small>Just now</small></span>
                  </h4>
                  <hr class="m-t-20 m-b-20" />
                </div>
      
              </div>
              <div class="d-flex no-blcok">
                
                <div class="m-r-20">
                  <img
                    class="img-circle"
                    width="35"
                    src='../../../../assets/img/leave.png'
                    alt="Image of sfvsdcc"
                  />
                </div>
                <div class="w-100">
                  <h4 class="m-0 list-space ">
                    <span>Applied for leave</span>
                    <span class="text-muted"><small>Just now</small></span>
                  </h4>
                  <hr class="m-t-20 m-b-20" />
                </div>
      
              </div>
            </mat-card-content>
        </mat-card>
    </div>


  </div>
  <div fxLayout="row wrap card-wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <!-- column -->
          <mat-icon class="text-info">account_circle</mat-icon>
          <h5 class="m-0 m-b-5">Personal Information</h5>
          <a href="javascript:void(0);">View</a>
          <small class="text-muted pull-right">26%</small>
          <mat-progress-bar class="m-t-5" mode="determinate" value="26"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <!-- column -->
          <mat-icon class="text-danger">local_mall</mat-icon>
          <h5 class="m-0 m-b-5">Next of kin information</h5>
          <a href="javascript:void(0);">View</a>
          <small class="text-muted pull-right">60%</small>
          <mat-progress-bar class="m-t-5" color="warn" mode="determinate" value="60"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <!-- column -->
          <mat-icon class="text-purple">person_outline</mat-icon>
          <h5 class="m-0 m-b-5">Identification details</h5>
          <a href="javascript:void(0);">View</a>
          <small class="text-muted pull-right">80%</small>
          <mat-progress-bar class="m-t-5" color="accent" mode="determinate" value="80"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <!-- column -->
          <mat-icon class="text-info">content_paste</mat-icon>
          <h5 class="m-0 m-b-5">Licence information</h5>
          <a href="javascript:void(0);">View</a>
          <small class="text-muted pull-right">40%</small>
          <mat-progress-bar class="m-t-5" mode="determinate" value="40"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <!-- column -->
          <mat-icon class="text-info">details</mat-icon>
          <h5 class="m-0 m-b-5">Banking details</h5>
          <a href="javascript:void(0);">View</a>
          <small class="text-muted pull-right">26%</small>
          <mat-progress-bar class="m-t-5" mode="determinate" value="26"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <!-- column -->
          <mat-icon class="text-danger">pageview</mat-icon>
          <h5 class="m-0 m-b-5">TFN form</h5>
          <a href="javascript:void(0);">View</a>
           <small class="text-muted pull-right">60%</small>
          <mat-progress-bar class="m-t-5" color="warn" mode="determinate" value="60"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <!-- column -->
          <mat-icon class="text-purple">stars</mat-icon>
          <h5 class="m-0 m-b-5">Super annuation form</h5>
          <a href="javascript:void(0);">View</a>
          <small class="text-muted pull-right">80%</small>
          <mat-progress-bar class="m-t-5" color="accent" mode="determinate" value="80"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <!-- column -->
          <mat-icon class="text-info">card_membership</mat-icon>
          <h5 class="m-0 m-b-5">Membership information</h5>
          <a href="javascript:void(0);">View</a>
          <small class="text-muted pull-right">40%</small>
          <mat-progress-bar class="m-t-5" mode="determinate" value="40"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- column -->
  </div>