.profile-mat-list{
    padding:0 !important;
}
.profile-mat-list .mat-list-text{
    align-items: flex-start !important;
}
.profile-mat-list .mat-list-item{
    height: 35px !important;
}
.mat-card{
    margin:10px !important;
}