<mat-card>
    <mat-card-content>
      <mat-card-title>Version 0.0.2 (16 Sept 2022)</mat-card-title>
      <ul class="list-unstyled m-t-40">
        <li class="media">
          <img
            class="m-r-15 shrink-none img-circle"
            src="../../assets/img/rtl-logo-new-icon.jpg"
            width="40"
            alt="Release Note"
          />
          <div class="media-body">
            <h5 class="m-t-0 m-b-10 font-medium">Real Time Notification for Mobile and Cloud</h5>
           Employees having ability to apply for leave and view their history
          </div>
        </li>
        <hr />
        <li class="media my-4">
          <img
            class="m-r-15 shrink-none img-circle"
            src="../../assets/img/rtl-logo-new-icon.jpg"
            width="40"
            alt="Release Note"
          />
          <div class="media-body">
            <h5 class="m-t-0 m-b-10 font-medium">HR Leave History Report with Export for Cloud</h5>
            Employees can see the total staff number.
          </div>
        </li>
        <hr />
        <li class="media">
          <img
            class="m-r-15 shrink-none img-circle"
            src="../../assets/img/rtl-logo-new-icon.jpg"
            width="40"
            alt="Release Note"
          />
          <div class="media-body">
            <h5 class="m-t-0 m-b-10 font-medium">Resignation Process For Mobile & Cloud</h5>
            Employees can see their basic profile information.
          </div>
        </li>
        <hr />
        <li class="media">
            <img
              class="m-r-15 shrink-none img-circle"
              src="../../assets/img/rtl-logo-new-icon.jpg"
              width="40"
              alt="Release Note"
            />
            <div class="media-body">
              <h5 class="m-t-0 m-b-10 font-medium">Change Password</h5>
              Employees can see their basic profile information.
            </div>
          </li>
          <hr />
      </ul>
    </mat-card-content>
  </mat-card>
<mat-card>
    <mat-card-content>
      <mat-card-title>Version 0.0.1 (1 Sept 2022)</mat-card-title>
      <ul class="list-unstyled m-t-40">
        <li class="media">
          <img
            class="m-r-15 shrink-none img-circle"
            src="../../assets/img/rtl-logo-new-icon.jpg"
            width="40"
            alt="Release Note"
          />
          <div class="media-body">
            <h5 class="m-t-0 m-b-10 font-medium">Employee Leave</h5>
           Employees having ability to apply for leave and view their history
          </div>
        </li>
        <hr />
        <li class="media my-4">
          <img
            class="m-r-15 shrink-none img-circle"
            src="../../assets/img/rtl-logo-new-icon.jpg"
            width="40"
            alt="Release Note"
          />
          <div class="media-body">
            <h5 class="m-t-0 m-b-10 font-medium">Dashboard</h5>
            Employees can see the total staff number.
          </div>
        </li>
        <hr />
        <li class="media">
          <img
            class="m-r-15 shrink-none img-circle"
            src="../../assets/img/rtl-logo-new-icon.jpg"
            width="40"
            alt="Release Note"
          />
          <div class="media-body">
            <h5 class="m-t-0 m-b-10 font-medium">Profile Details</h5>
            Employees can see their basic profile information.
          </div>
        </li>
        <hr />
      </ul>
    </mat-card-content>
  </mat-card>
<mat-card>
  <mat-card-content>
    <!-- <h4>Designed and Build by Dragon & Peaches Consulting</h4> -->
    <div class="media-body">
        <h5 class="m-t-0 m-b-10 font-medium">Copyright RTL Mining and Earthworks Pty Ltd.</h5>
        Designed and Build by Dragon & Peaches Consulting
      </div>
</mat-card-content>
</mat-card>
