.infinite-scroll {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.infinite-scroll .mat-table {
  overflow: auto;
  max-height: 500px;
}

.example-element-row + .example-detail-row {
  height: 0 !important;
}
.example-element-row + .example-detail-row td {
  padding: 0px !important;
}

.example-element-row.example-expanded-row + .example-detail-row {
  height: 48px !important;
}

.example-element-row.example-expanded-row + .example-detail-row td.mat-cel {
  padding: 15px !important;
}

.export-btn {
  text-align: right;
}
.export-btn button {
  width: auto;
}
