.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 389px;
  height: 430px;
  left: 520px;
  top: -140px;
  background: #F4F5FA;;
  border-radius: 30px;
}
.mat-card-title {
 // position: absolute;
  width: 71px;
  height: 29px;
  left: 660px;
  top: 263px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #3a3a3a;
}
.login-btn {
  //position: absolute;
  width: 333px;
  height: 41px;
  //   left: 534px;
  top: 188px;

  background: #ef6d35;
  border-radius: 6px;
}
.input {
  // position: absolute;
  font-family: "Montserrat";
 // display: row;
 // flex-direction: row;
 // align-items: center;
  width: 333px;
  height: 41px;
  left: -14px;
  top: 158px;

  background: #ffffff;
  //border: 1px solid #9D9D9D;
  border-radius: 5px;
  margin: 4%;
 
}
.forget{
position: absolute;
width: 93px;
height: 12px;
left: 281px;
top: 419px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 12px;

color: #3A3A3A;
}
.login-ft{
  position: absolute;
  bottom: 0;
  background: #ffffffa8;
  width: 100%;
  padding: 5px 20px;
}
.login-ft div{
  display:flex;
  justify-content:space-between
}
@media (max-width:640px){
  .login-ft div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .login-register-box{
    margin-bottom: 135px;
    margin-top: 16px;
  }
}
