<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login Page</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input type="password" matInput placeholder="password" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button class="login-btn">Login</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- <div class="form-container">
  <div class="title">Login</div>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>
        USERNAME
        <mat-icon>account_circle</mat-icon>
      </mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label
        ><mat-icon>lock</mat-icon>
        PASSWORD
        <mat-icon>visibility</mat-icon>
      </mat-label>
      <input type="password" matInput />
    </mat-form-field>
  </form>
  <div class="button-container">
    <button mat-stroked-button class="login-button">Login</button>
    <button mat-button>Forget Password ?</button>
  </div>
</div> -->
<!-- </div> -->

<!-- <h3 class="account-title">Login</h3>
<form [formGroup]="firstFormGroup">
  <div class="form-group">
    <label>Email Address</label>
    <input class="form-control" type="text" formControlName="email" email
      [ngClass]="{ 'is-invalid': checkError('email', 'required')  && submitted }">
    <span class="error-message" *ngIf="checkError('email', 'pattern' )">
      Invalid email address
    </span>
    <span class="error-message" *ngIf="checkError('email', 'required')  && submitted">
      Email is required</span>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>Password</label>
      </div>
      <div class="col-auto">
        <a class="text-muted" [routerLink]="['/forgot-password']">
          Forgot password?
        </a>
      </div>
    </div>
    <div class="position-relative">
      <input class="form-control" type="password" formControlName="password" password
        [ngClass]="{ 'is-invalid': checkError('password', 'required')  && submitted }">
      <span class="fa fa-eye-slash" id="toggle-password"></span>
      <span class="error-message" *ngIf="checkError('password', 'required')  && submitted">
        Password is required</span>
    </div>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-primary account-btn" (click)="onSubmit()" type="submit">Login</button>
  </div>
</form> -->
