.form-container {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   position: absolute;
  //   width: 425px;
  //   height: 470px;
  //   left: 490px;
  //   top: 150px;
  background: #fff;
  //   border-radius: 30px;
}

.login-btn {
  //   position: absolute;
  width: 333px;
  height: 41px;
  //   left: 534px;
  //   top: 598px;

  background: #ef6d35;
  border-radius: 6px;
}
