<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="m-0 m-t-20 m-b-5">
      <mat-card-content class="p-15">
        <mat-card-title class="p-10 p-t-0 p-l-25 p-r-0 export-btn">
          <button mat-icon-button [matMenuTriggerFor]="exportMenu">
            Export List
            <mat-icon>cloud_download</mat-icon>
          </button>
          <mat-menu #exportMenu="matMenu">
            <button mat-menu-item>Export CSV</button>
          </mat-menu>
        </mat-card-title>
        <div class="m-l-10 m-r-10">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row">
            <div fxFlex.gt-sm="50" class="p-r-10" fxFlex="100">
              <mat-form-field>
                <input
                  matInput
                  (keyup)="applyFilter(true)"
                  [(ngModel)]="search"
                  placeholder="Filter"
                />
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="20" class="font-12"></div>
            <div fxFlex.gt-sm="30" class="font-12">
              <mat-form-field appearance="outline">
                <mat-label (click)="picker.open()">Select Date Range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input
                    matStartDate
                    [(ngModel)]="startDate"
                    placeholder="Start date"
                    readonly
                    (dateChange)="applyFilter()"
                    (click)="picker.open()"
                  />
                  <input
                    matEndDate
                    placeholder="End date"
                    readonly
                    [(ngModel)]="endDate"
                    (dateChange)="applyFilter()"
                    (click)="picker.open()"
                  />
                </mat-date-range-input>

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="m-0 m-t-5 m-b-5">
      <mat-card-content>
        <div class="table-responsive infinite-scroll">
          <mat-table #table [dataSource]="dataSource" class="table employee-list no-wrap" matSort>
            <!-- Name Column -->
            <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Emp Name</th>
                <td mat-cell *matCellDef="let row">
                  <!-- <span class="header-label">days:</span> -->
                  <!-- {{ row?.firstName }}{{ row?.lastName }} -->
                  <div style="display:flex; align-items: center;">
                  <img class="m-r-10 list-Img" src="assets/images/users/1.jpg" alt="" />
                  Kunal Sharmaa
                </div>
                </td>
              </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="employeeNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Emp No</th>
              <td mat-cell *matCellDef="let row">
                <!-- <span class="header-label">days:</span> -->
                {{ row?.employeeNo }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="wageClass">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Wage Classification</th>
              <td mat-cell *matCellDef="let row">
                <!-- <span class="header-label">days:</span> -->
                {{ row?.wageClass }}Level 67
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="gang">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Gang</th>
              <td mat-cell *matCellDef="let row">
                <!-- <span class="header-label">days:</span> -->
                {{ row?.gang }}G56789
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="rate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
              <td mat-cell *matCellDef="let row">
                <!-- <span class="header-label">days:</span> -->
                {{ row?.rate }}$6789
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="project">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Project</th>
              <td mat-cell *matCellDef="let row">
                <!-- <span class="header-label">days:</span> -->
                {{ row?.project }}GHJK5678
              </td>
            </ng-container>

            <ng-container matColumnDef="dateEffective">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Effective</th>
              <td mat-cell *matCellDef="let row">{{ row?.dateEffective }} 2nd Aug 2022</td>
            </ng-container>

            <ng-container matColumnDef="statusName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let row">
                <span [ngClass]="getStatusColor(row?.status)">
                  {{ row?.statusName }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="approvedDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Approved On</th>
              <td mat-cell *matCellDef="let row">
                <span [ngClass]="getStatusColor(row?.status)">
                  {{ row?.approvedDate }}
                </span>
                3rd August 2022
              </td>
            </ng-container>
            <ng-container matColumnDef="approver">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Approver</th>
              <td mat-cell *matCellDef="let row">
                <span [ngClass]="getStatusColor(row?.status)">
                  {{ row?.approver }}
                </span>
                Robert Shephard
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: displayedColumns"
              class="example-element-row"
              [ngClass]="{ 'selected-row': selectedId == element.id }"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                No Registration Data
              </td>
            </tr>
          </mat-table>

          <mat-paginator
            [length]="totalRecords"
            [pageIndex]="pageNo"
            [pageSizeOptions]="[5, 10, 20]"
            [pageSize]="pageSize"
            aria-label="Select page"
          >
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
