<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <h2 class="title text-center">TRANSFER / CHANGE OF RATE</h2>
        <mat-divider> </mat-divider>
        
        <form [formGroup]="form" class="basic-form" (ngSubmit)="onSubmit()">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row">
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="type">
                <mat-radio-button class="example-radio-button m-t-10" value="1">Permanent Transfer</mat-radio-button>
                <mat-radio-button class="example-radio-button m-l-20" value="2">Temporary Transfer</mat-radio-button>
              </mat-radio-group>

              <mat-error *ngIf="submitted && checkError('type', 'required')">
                Type is required
              </mat-error>
            </div>
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <!-- <p class="text-name">Name:</p> -->
              <!-- <mat-card class="input">Matthew Mcconaughey</mat-card> -->
              <!-- <mat-card class="input"> -->
              <mat-form-field>
                <mat-label>Employee</mat-label>
                <mat-select formControlName="employee">
                  <input mat-input class="search-box-select" aria-label="Employee" (keyup)="searchEmployee($event)">
                  <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"> -->
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                  <!-- </mat-autocomplete> -->
                </mat-select>
                <mat-error *ngIf="submitted && checkError('employee', 'required')">
                  Employee is required
                </mat-error>
              </mat-form-field>
              <!-- </mat-card> -->
            </div>
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <p class="text">Employee Number: ---</p>
              <!-- <mat-card class="input">23</mat-card> -->
            </div>
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <p class="text">From: GR3</p>
              <!-- <mat-card class="input">GR3</mat-card> -->
            </div>
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <p class="text">At: YALLOURN</p>
              <!-- <mat-card class="input">YALLOURN</mat-card> -->
            </div>
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">

              <p class="text">Rate: 23211</p>
              <!-- <mat-card class="input">23211</mat-card> -->
            </div>
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <p class="text">Supervisor: Matt Damon</p>
              <!-- <mat-card class="input">Matt Damon</mat-card> -->
            </div>
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <div fxFlex.gt-sm="25" fxFlex="100">
                <p class="text-to">To:</p>
              </div>
              <div fxFlex.gt-sm="75" fxFlex="100">

                <mat-form-field>
                  <!-- <mat-label>To:</mat-label> -->
                  <mat-select formControlName="transferTo">
                    <input mat-input class="search-box-select" aria-label="Gang" (keyup)="searchEmployee($event)">
                    <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"> -->
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                    <!-- </mat-autocomplete> -->
                  </mat-select>
                  <mat-error *ngIf="submitted && checkError('transferTo', 'required')">
                    Gang is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <div fxFlex.gt-sm="25" fxFlex="100">
                <!-- <mat-card class="input">GR3CAS</mat-card> -->
                <p class="text">At:</p>
              </div>
              <div fxFlex.gt-sm="75" fxFlex="100">
                <mat-card class="input">-------</mat-card>
              </div>
            </div>
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <div fxFlex.gt-sm="25" fxFlex="100">
                <p class="text">Rate:</p>
              </div>
              <!-- <mat-card > -->
              <div fxFlex.gt-sm="75" fxFlex="100">
                <mat-form-field class="input" appearance="outline">
                  <mat-label>Rate</mat-label>
                  <input matInput formControlName="rate">
                  <mat-error *ngIf="submitted && checkError('rate', 'required')">
                    Rate is required
                  </mat-error>
                  <mat-error *ngIf="checkError('rate', 'pattern')">
                    Invalid value
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- </mat-card> -->
            </div>
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <div fxFlex.gt-sm="40" fxFlex="100" class="p-10">
                <p class="text">Supervisor:</p>
              </div>
              <div fxFlex.gt-sm="60" fxFlex="100" class="p-10">

                <mat-card class="input">-------</mat-card>
              </div>
            </div>
            <div fxFlex.gt-sm="40" fxFlex="100" class="p-10">
              <div fxFlex.gt-sm="40" fxFlex="100">
                <p class="text">Date Effective:</p>
              </div>
              <div fxFlex.gt-sm="60" fxFlex="100">
                <mat-form-field class="date" appearance="outline">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="transferDate">
                  <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div fxFlex.gt-sm="60" fxFlex="100" class="p-10">

              <!-- <button mat-button type="button" class="custom-grey-button" color="primary"
                        (click)="calculateDate('-1')">Yesterday</button> -->
              <button mat-button type="button" class="custom-grey-button" color="primary"
                (click)="calculateDate('0')">Today</button>
              <button mat-button type="button" class="custom-grey-button" color="primary"
                (click)="calculateDate('1')">Tomorrow</button>
              <button mat-button type="button" class="custom-grey-button" color="primary"
                (click)="calculateDate('2')">Day
                After</button>
              <button mat-button type="button" class="custom-grey-button" color="primary"
                (click)="calculateDate('fri')">This
                Friday</button>
              <button mat-button type="button" class="custom-grey-button" color="primary"
                (click)="calculateDate('mon')">Next
                Monday</button>


              <!-- 
      <button mat-button type="button" class="custom-grey-button" color="primary">Today</button>
      <button mat-button type="button" class="custom-grey-button" color="primary">Tomorrow</button>
      <button mat-button type="button" class="custom-grey-button" color="primary">Day
        After</button>
      <button mat-button type="button" class="custom-grey-button" color="primary">This
        Friday</button>
      <button mat-button type="button" class="custom-grey-button" color="primary">Next
        Monday</button> -->
            </div>
            <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">
              <!-- <div fxFlex.gt-sm="7-" fxFlex="100"> -->
              <p class="text">Date:&nbsp;&nbsp;{{todayDate | date:'d MMMM y' }}</p>
              <!-- </div>
              <div fxFlex.gt-sm="75" fxFlex="100">
                <mat-card class="input"> </mat-card>
              </div> -->
            </div>
            <div fxFlex.gt-sm="70" fxFlex="100" class="p-10">
              <button mat-raised-button color="warn" type="submit">REQUEST ACCEPTANCE <mat-icon>
                  arrow_right_alt
                </mat-icon></button>
              <!-- </div> -->
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>