<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login Page</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- <div class="account-pages pt-sm-5 loginPage">
  <div class="container">
    <div class="row justify-content-center welcomePage">

      <div class="card overflow-hidden">
        <div class="card-body py-5">
          <div>
            <div class="avatar-md mb-2">
              <a class="avatar-title" [routerLink]="['/']">
                <div class="logo">
                  <img src="../assets/img/logo.png" height="50">
                </div>
              </a>
            </div>
          </div>
          <div>
            <div class="dropdown-divider"></div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->