/* mat-card {
  min-width: 80%;
} */


.container {
  /* background-color: #fff8e3; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.logo {
   position: absolute;
   width: 182.52px;
   height: 100px; 
   left: 145px; 
   top: 55px;
  background-image: url("../../../../assets/img/rtl-logo.svg");
}
.layer {
  background-image: url("../../../../assets/img/layer.svg");
  /* background-repeat: no-repeat;
  background-position: center; */
  background-size: cover;
   position: relative; 
  /* left: -3.68;
  right: -7.78%;
  top: 31%;
  bottom: -1.58%; */
  /* opacity: 0.5; */
  
  /* background-size: cover; */
  
  /* background-size: contain; */
  width: 1440vh;
  height: 468px;
  top: 16%;
  /* bottom: -1.79%; */
  



    /* width: fit-content;   */

  
}
