@media (max-width: 767px) {
  .mat-list-base .mat-list-item .mat-list-item-content,
  .mat-list-base .mat-list-option .mat-list-item-content {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
  }
  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: auto;
    margin-bottom: 12px;
  }
  .mat-list-item {
    text-align: left;
  }
  .mob_mr-10 {
    margin-right: 10px;
  }
  .mat-horizontal-stepper-header {
    padding: 0 8px !important;
  }
}
