<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row wrap" style="justify-content: center">
  <!-- Card column -->

  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card align="left">
      <mat-card-content>
        <a href="javascript:void(0);" class="dfc"> <mat-icon>keyboard_arrow_left</mat-icon>Back</a>

        <h2 align="left"><b>Personal Information</b></h2>
        <div fxLayout="row wrap" class="row">
          <div fxFlex.gt-sm="100%" fxFlex="100" class="text-center">
            <a routerLink="/"
              ><img
                src="../../../assets/img/user-default-img.jpg"
                alt="Employee image"
                style="max-height: 150px; width: auto"
              />
            </a>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlexAlign="left" class="row m-t-20" align="left">
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Salut :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Mr.</div>
          </div>
          <div fxFlex.gt-sm="66.66" fxFlex="100" class="p-10"></div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> First Name :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Kunal</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Middle Name :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Kumar</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Last Name :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Sharma</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Gender :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Male</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Pronoun :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">----</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Nick Name :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Kunnu</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Date Of Birth :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">30/08/1999</div>
          </div>
          <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
            <h3 align="left">Current Address</h3>
          </div>
          <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="13" fxFlex="100">
              <mat-label><b>Address :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="87" fxFlex="100">House 45, medison streer ,abc locality,area 4</div>
          </div>

          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Suburb:</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Melbourne</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> State :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Victoria</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Pincode :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">256890</div>
          </div>
          <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
            <h3 align="left">Residential Address</h3>
          </div>
          <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="13" fxFlex="100">
              <mat-label><b>Address :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="87" fxFlex="100">House 45, medison streer ,abc locality,area 4</div>
          </div>

          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Suburb :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Melbourne</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> State :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Victoria</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Pincode :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">256890</div>
          </div>
          <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
            <h3 align="left">Postal Address</h3>
          </div>
          <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="13" fxFlex="100">
              <mat-label><b>Address :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="87" fxFlex="100">House 45, medison streer ,abc locality,area 4</div>
          </div>

          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Suburb :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Melbourne</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> State :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Victoria</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b> Pincode :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">256890</div>
          </div>
          <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
            <h3 align="left">Contact Details</h3>
          </div>

          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b>Mobile No :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">+61 456785678</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <div fxFlex.gt-sm="40" fxFlex="100">
              <mat-label><b>Email :</b></mat-label>
            </div>
            <div fxFlex.gt-sm="60" fxFlex="100">Kunalsharmarok@gmail.com</div>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
