<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card class="m-0 m-t-15">
            <mat-card-content>
                <mat-card-title class="text-success">Change Password </mat-card-title>

                <form class="basic-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div fxLayout="row wrap">
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field fxFlex.gt-md="40" fxFlex="100">
                                <input formControlName="currentPassword" currentPassword matInput
                                    placeholder="Current Password" [type]="inputTypes[0]" />
                                <mat-icon (click)="showHidePassword(0)" matSuffix>
                                    {{inputTypes[0]=='password'?'visibility':'visibility_off'}}
                                </mat-icon>
                                <mat-error *ngIf="checkError('currentPassword', 'required')">
                                    Current Password is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="100" fxFlex="100" class="p-t-10">
                            <mat-form-field fxFlex.gt-md="40" fxFlex="100">
                                <input matInput placeholder="New Password" [type]="inputTypes[1]"
                                    formControlName="newPassword" newPassword />
                                <mat-icon matSuffix (click)="showHidePassword(1)">
                                    {{inputTypes[1]=='password'?'visibility':'visibility_off'}}
                                </mat-icon>

                                <mat-error *ngIf="checkError('newPassword', 'required')">
                                    New password is required
                                </mat-error>

                                <mat-error *ngIf="checkError('newPassword', 'pattern')">
                                    Password should contain atleast 8 characters including<small>(atleast 1 number,1
                                        capital
                                        letter,1 small letter and 1 special character)
                                    </small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="100" fxFlex="100" class="p-t-10">
                            <mat-form-field fxFlex.gt-md="40" fxFlex="100">
                                <input matInput placeholder="Confirm Password" [type]="inputTypes[2]"
                                    formControlName="confirmPassword" confirmPassword />
                                <mat-icon matSuffix (click)="showHidePassword(2)">
                                    {{inputTypes[2]=='password'?'visibility':'visibility_off'}}
                                </mat-icon>
                                <mat-error *ngIf="checkError('confirmPassword', 'required')">
                                    Confirm password is required
                                </mat-error>
                                <mat-error *ngIf="checkError('confirmPassword', 'confirmedValidator')">
                                    Confirm password doesn't match New password
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex.gt-sm="100" fxFlex="100" class="p-t-10">
                            <button mat-raised-button color="primary" type="submit">Change Password</button>

                            <!-- <span class="error-message" *ngIf="confirmPassword.errors?.['confirmedValidator']">
                                Password must match
                            </span> -->
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>