<div fxLayout="row wrap" style="justify-content: center">
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card class="m-0">
      <mat-card-content class="m-b-0">
        <div fxLayout="row wrap" class="row">
          <div fxFlex.gt-sm="100%" fxFlex="100" class="privacy-h ">
            <a routerLink="/"
              ><img src="../../../assets/img/new-logo.png" alt="logo image" width="150px" />
            </a>
            <a routerLink="#">Back</a>
          </div>
          <div fxFlex.gt-sm="100%" fxFlex="100" class="text-center main-banner">
            <a routerLink="/"
              ><img src="../../../assets/img/contactus-banner.jpg" alt=" banner image" width="100%" />
            </a>
          </div>
          <div fxFlex.gt-sm="100%" fxFlex="100" class="m-0 p-l-30">
            <div fxFlex.gt-sm="50%" fxFlex="100" ><h3 class="m-0 m-b-5 m-t-10 ">Visit Us</h3></div>
            <div fxFlex.gt-sm="50%" fxFlex="100" >
                <h3 class="m-0 m-b-5 m-t-10 ">Support</h3>
            </div>
          </div>
          <div fxFlex.gt-sm="2%" fxFlex="100" ></div>
          <div fxFlex.gt-sm="46%" fxFlex="100" class="p-20 content-scroll-box2">
            
            <div fxFlex.gt-sm="50%" fxFlex="100" >
              <div class="m-0 p-10" class="">
                <p><b>RTL Mining and Earthwork Pty Ltd</b></p>
                <p>Head Office</p>
                <p>Eastern Road Yallourn VIC 3825</p>
                <p>PO Box 591 Moe VIC 3825</p>
                <p>Tel: (03)5136 1000</p>
              </div>
            </div>
            <div fxFlex.gt-sm="50%" fxFlex="100" >
              <div fxFlex.gt-sm="50%" fxFlex="100" class="left-banner"  align="end">
                <a routerLink="/"
                  ><img
                    src="../../../assets/img/kindpng_2471745.png"
                    alt=" banner image"
                    width="300px"
                  />
                </a>
              </div>
            </div>
          </div>
          <div fxFlex.gt-sm="3%" fxFlex="100" ></div>
          <div fxFlex.gt-sm="47%" fxFlex="100" class="p-20 content-scroll-box2 ">
            <div fxFlex.gt-sm="40%" fxFlex="100" class="right-banner ">
              <a routerLink="/"
                ><img src="../../../assets/img/technical.png" alt=" banner image" width="200px" />
              </a>
            </div>
            <div fxFlex.gt-sm="60%" fxFlex="100" >
              <div class="m-0 p-10" class="">
                
                <p>
                  For any support related queries mail us
                  <a data-fr-linked="true" href="mailto:support@rtl.com.au">support@rtl.com.au</a>
                </p>
              </div>
            </div>
          </div>
          <div fxFlex.gt-sm="2%" fxFlex="100" ></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
