.employee-list th.mat-header-cell {
    width: 15%;
  }
  
  :host ::ng-deep .approved-checkbox .mat-checkbox-frame {
    border-color: #2ace58;
  }
  
  :host ::ng-deep .rejected-checkbox .mat-checkbox-frame {
    border-color: #d51e1e;
  }
  
  :host ::ng-deep .pending-checkbox .mat-checkbox-frame {
    border-color: #e7b400;
  }
  
  .no-wrap td,
  .no-wrap .ng-star-inserted {
    white-space: inherit;
  }
  
  .selected-row {
    background-color: lavender !important;
  }
  .list-Img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  .Asset-Img{
    width: 50px;
    height: 40px;
    // border-radius: 50px;
  }
  .p-b-5 {
    padding-bottom: 5px !important;
  }

  
.selected-row {
  background-color: lavender !important;
}
.list-Img {
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.popup-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.popup-head div {
  display: flex;
  align-items: center;
}
.popup-head mat-progress-bar {
  width: 175px;
}
.popup-head2 {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: space-around;
}
.popup-head2 div {
  text-align: center;
}
.popup-head2 {
  padding: 15px 1px 7px;
}
.popup-head2 div mat-label {
  display: block;
}
.fd-re {
  flex-direction: column;
  align-items: flex-end !important;
}
.mat-row.cdk-row.example-element-row {
  cursor: pointer;
}
.progress-layout {
  display: flex;
}
  