<mat-card>
  <mat-card-content class="create_user_page">
    <!-- <div class="dfc"> -->
    <a href="javascript:void(0);" class="dfc m-t-10" style="float: left">
      <mat-icon>keyboard_arrow_left</mat-icon>Back
    </a>
    <h2 class="title text-center color_blue m-t-0">Add new client</h2>
    <!-- </div> -->

    <mat-divider> </mat-divider>
    <mat-card-title class="p-t-20 p-b-10 color_blue">Client Details</mat-card-title>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
        <form class="basic-form">
          <div
            fxLayout="row wrap"
            fxFlexAlign="center"
            class="row m-0 new-client-form"
            style="align-items: center"
          >
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Client Name :</mat-label>
                <input matInput placeholder="Client Name" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100" class="text-center">
              <div fxFlex.gt-sm="50" fxFlex="100" class="content-text">Add Logo</div>
              <div fxFlex.gt-sm="50" fxFlex="100">
                <button mat-raised-button color="primary">Upload</button>
              </div>
            </div>
            <div fxFlex.gt-sm="35" fxFlex="100"></div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Suburb</mat-label>
                <input matInput placeholder="Suburb" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="35" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <input matInput placeholder="State" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Postcode</mat-label>
                <input matInput placeholder="Postcode" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100" align="center">
              <button mat-raised-button  color="primary">Save</button>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-divider> </mat-divider>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue">Contacts</mat-card-title>
            </div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>key Contact Name</mat-label>
                <input matInput placeholder="Key Contact Name" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input matInput placeholder="Contact Number" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="15" fxFlex="100">
              <button mat-raised-button color="primary">Save Contact</button>
            </div>
            <div fxFlex.gt-sm="15" fxFlex="100" align="re">
              <button mat-raised-button color="primary">Add More Contact</button>
            </div>
            <!-- <div fxFlex.gt-sm="70" fxFlex="100"></div> -->

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-20 p-t-10">
              <mat-divider> </mat-divider>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" align="center">
              <button mat-raised-button class="p-10 p-l-30 p-r-30" color="primary">
                Add Project
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
