<mat-card>
  <mat-card-content class="create_user_page">
    <h2 class="title text-center color_blue">Requirement Details</h2>
    <form class="basic-form">
      <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0 border-full">
        <div fxFlex.gt-sm="100" fxFlex="100" class="border-bottom-g">
          <mat-card class="m-0 my-mat-cardt d-wrap">
            <div fxFlex.gt-sm="20" fxFlex="100" class="p-b-10 p-t-10">
              <small>Role</small>
              <mat-label class="d-block">MAtt</mat-label>
            </div>
            <div fxFlex.gt-sm="15" fxFlex="100" class="p-b-10 p-t-10">
              <small>Type</small>
              <mat-label class="d-block">MAtt</mat-label>
            </div>
            <div fxFlex.gt-sm="15" fxFlex="100" class="p-b-10 p-t-10">
              <small>Project</small>
              <mat-label class="d-block">MAtt</mat-label>
            </div>
            <div fxFlex.gt-sm="17" fxFlex="100" class="p-b-10 p-t-10">
              <small>Location</small>
              <mat-label class="d-block">MAtt</mat-label>
            </div>
            <div fxFlex.gt-sm="11" fxFlex="100" class="p-b-10 p-t-10">
              <small>Contact</small>
              <mat-label class="d-block">MAtt</mat-label>
            </div>
            <div fxFlex.gt-sm="11" fxFlex="100" class="p-b-10 p-t-10">
              <small>Classification</small>
              <mat-label class="d-block">MAtt</mat-label>
            </div>
            <div fxFlex.gt-sm="11" fxFlex="100" class="p-b-10 p-t-10">
              <small>Rate(AUD)</small>
              <mat-label class="d-block">MAtt</mat-label>
            </div>
          </mat-card>
        </div>
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-card class="m-0 my-mat-cardb d-wrap">
            <div fxFlex.gt-sm="55" fxFlex="100" class="p-b-10 p-t-10">
              <mat-label><span>Hiring Manager-</span>
                 <span>Robert Shephard</span> </mat-label>
            </div>
            <div fxFlex.gt-sm="35" fxFlex="100" class="p-b-10 p-t-10">
              <mat-label><small>Praposal start date</small> 22 September</mat-label>
            </div> 
            <div fxFlex.gt-sm="10" fxFlex="100" class="p-b-10 p-t-10">
              <button class="button p-0 p-l-20 p-r-20 l-h-26" mat-raised-button color="primary">Firm</button>
            </div>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0 m-b-30 m-t-20 border-full">
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-card class="m-0 my-mat-cardf">
            <mat-card-title class="p-10 color_blue" align="center">Description</mat-card-title>
            <mat-form-field appearance="outline" class="m-t-0 p-l-10 p-r-10">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="leaveReason" placeholder="Comment" rows="3"></textarea>
              <mat-error> Comment is required </mat-error>
            </mat-form-field>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0 m-b-30 border-full">
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-card class="m-0 my-mat-cardf">
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue" align="center"
                >Skills & Certifications</mat-card-title
              >
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Minimum Experiance:</b></h5>
                <h5 class="m-0">45 Years</h5>
              </div>
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Certification Required :</b></h5>
                <h5 class="m-0">Certification 1 Certification 2 Certification 3</h5>
              </div>
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>License Required :</b></h5>
                <h5 class="m-0">License 1 License 2 License 3</h5>
              </div>
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Plant Tickets :</b></h5>
                <h5 class="m-0">Ticket 1 ticket 3 ticket 4</h5>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0 m-b-30 border-full">
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-card class="m-0 my-mat-cardf">
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue" align="center"
                >Additional Information</mat-card-title
              >
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Gang :</b></h5>
                <h5 class="m-0">Gs5</h5>
              </div>
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Creator Name :</b></h5>
                <h5 class="m-0">Robbert Mathew</h5>
              </div>
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Creator Role :</b></h5>
                <h5 class="m-0">Mathew</h5>
              </div>
            </div>
          </mat-card>
        </div>
      </div>

      <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0">
        <div fxFlex.gt-sm="100" fxFlex="100">
          <div class="m-0 m-t-15" align="center">
            <button class="button" mat-raised-button color="primary">Recommend Employee</button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
