<mat-card>
  <mat-card-content class="create_user_page">
    <h2 class="title text-center color_blue">Demand Details</h2>
    <form class="basic-form">
      <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0 border-full">
        <div fxFlex.gt-sm="100" fxFlex="100" class="border-bottom-g">
          <mat-card class="m-0 my-mat-cardt d-wrap">
            <div fxFlex.gt-sm="12" fxFlex="100" class="p-b-10 p-t-10">
              <small>Role Title</small>
              <mat-label class="d-block">Plant Operator</mat-label>
            </div>
            <div fxFlex.gt-sm="11" fxFlex="100" class="p-b-10 p-t-10">
              <small>Wage Role</small>
              <mat-label class="d-block">Operator</mat-label>
            </div>
            <div fxFlex.gt-sm="10" fxFlex="100" class="p-b-10 p-t-10">
              <small>Type </small>
              <mat-label class="d-block">Internal</mat-label>
            </div>
            <div fxFlex.gt-sm="11" fxFlex="100" class="p-b-10 p-t-10">
              <small>Project # </small>
              <mat-label class="d-block">ESC2445</mat-label>
            </div>
            <div fxFlex.gt-sm="11" fxFlex="100" class="p-b-10 p-t-10">
              <small>Location</small>
              <mat-label class="d-block">Yallourn</mat-label>
            </div>
            <div fxFlex.gt-sm="11" fxFlex="100" class="p-b-10 p-t-10">
              <small>Gang</small>
              <mat-label class="d-block">GS3</mat-label>
            </div>
            <div fxFlex.gt-sm="11" fxFlex="100" class="p-b-10 p-t-10">
              <small>Award Type</small>
              <mat-label class="d-block">Permanent</mat-label>
            </div>
            <div fxFlex.gt-sm="13" fxFlex="100" class="p-b-10 p-t-10">
              <small>Wage Classification</small>
              <mat-label class="d-block">Level 2</mat-label>
            </div>
            <div fxFlex.gt-sm="10" fxFlex="100" class="p-b-10 p-t-10">
              <small>Rate(AUD)</small>
              <mat-label class="d-block">$60</mat-label>
            </div>
          </mat-card>
        </div>
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-card class="m-0 my-mat-cardb d-wrap">
            <div fxFlex.gt-sm="55" fxFlex="100" class="p-b-10 p-t-10">
              <mat-label><span>Hiring Manager-</span> <span>Robert Shephard</span> </mat-label>
            </div>
            <div fxFlex.gt-sm="35" fxFlex="100" class="p-b-10 p-t-10">
              <mat-label><small>Praposal start date</small> 22 September</mat-label>
            </div>
            <div fxFlex.gt-sm="10" fxFlex="100" class="p-b-10 p-t-10">
              <button
                class="button p-0 p-l-30 p-r-30 l-h-26"
                style="border-radius: 50px"
                mat-flat-button
                color="primary"
              >
                Firm
              </button>
            </div>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0 m-b-30 m-t-20 border-full">
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-card class="m-0 my-mat-cardf">
            <mat-card-title class="p-10 color_blue" >Description</mat-card-title>
            <mat-form-field appearance="outline" class="m-t-0 p-l-10 p-r-10">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                formControlName="leaveReason"
                placeholder="Comment"
                rows="3"
              ></textarea>
              <mat-error> Comment is required </mat-error>
            </mat-form-field>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0 m-b-30 border-full">
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-card class="m-0 my-mat-cardf">
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue"
                >Skills & Certifications</mat-card-title
              >
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Minimum Experiance:</b></h5>
                <h5 class="m-0">45 Years</h5>
              </div>
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Certification Required :</b></h5>
                <h5 class="m-0">Certification 1 Certification 2 Certification 3</h5>
              </div>
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>License Required :</b></h5>
                <h5 class="m-0">License 1 License 2 License 3</h5>
              </div>
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Plant Tickets :</b></h5>
                <h5 class="m-0">Ticket 1 ticket 3 ticket 4</h5>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0 m-b-30 border-full">
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-card class="m-0 my-mat-cardf">
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue"
                >Additional Information</mat-card-title
              >
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Client :</b></h5>
                <h5 class="m-0">Energy Australia</h5>
              </div>
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Contract :</b></h5>
                <h5 class="m-0">Good</h5>
              </div>
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Creator Name :</b></h5>
                <h5 class="m-0">Robbert Mathew</h5>
              </div>
              <div mat-dialog-content class="mat-flex d-wrap">
                <h5 class="m-0"><b>Creator Role :</b></h5>
                <h5 class="m-0">Mathew</h5>
              </div>
            </div>
          </mat-card>
        </div>
      </div>

      <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0">
        <div fxFlex.gt-sm="100" fxFlex="100">
          <div class="m-0 m-t-15" align="center">
            <button class="m-l-20 m-r-20" mat-raised-button color="primary">Recommend Employee</button>
            <button class="m-l-20 m-r-20" mat-raised-button color="primary" (click)="onClick()">View Recommendation</button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<ng-template #employeeDetailDialog>
  <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
    <h1
      mat-dialog-title
      align="center"
      class="color_blue"
      style="font-size: 20px; margin-bottom: 25px"
    >
      Recommendation
    </h1>
    <mat-divider></mat-divider>

    <div fxLayout="row wrap" fxFlexAlign="left" class="row m-t-20">
      <div class="popup-head">
        <div>
          <img class="m-r-10 list-Img" src="../../../assets/img/user-default-img.jpg" alt="" />
          <mat-label><b>Brandon Hill</b></mat-label>
        </div>
      </div>
      <div class="popup-head2">
        <div>
          <mat-label>Current Manager</mat-label>
          <Small>Robert Shephard</Small>
        </div>
        <div>
          <mat-label>Project</mat-label>
          <Small>Energy Audtralia</Small>
        </div>
        <div>
          <mat-label>Location</mat-label>
          <Small>Longway</Small>
        </div>
        <div>
          <mat-label>Gang</mat-label>
          <Small>GS3CAS</Small>
        </div>
        <div>
          <mat-label>Wage Classification</mat-label>
          <Small>Level 2</Small>
        </div>
        <div>
          <mat-label>Rate</mat-label>
          <Small>57</Small>
        </div>
        <div>
          <mat-label>Award Type</mat-label>
          <Small>Casual</Small>
        </div>
      </div>

      <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
        <mat-divider> </mat-divider>
      </div>

      <div fxFlex.gt-sm="50" fxFlex="100" class="p-10" align="end">
        <button class="button m-5" mat-raised-button color="primary" (click)="onSubmit()">
          Approve
        </button>
      </div>
      <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
        <button class="button m-5" mat-raised-button color="primary" (click)="onSubmit()">
          Decline
        </button>
      </div>
    </div>
  </div>
</ng-template>
