.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 10px;
  }
  
.color_blue {
    color: #009EFB;
  }
  .demo-chip-list {
    width: 100%;
  }


.date-btn-default{
  margin-top: 18px;
  margin-right: 10px;
  background: lightgray;
  border-radius: 5px;
  font-weight: 100;
  padding: 3px 10px;
  line-height: inherit;
}
.date-btn-default.date-btn-active{
  margin-top: 18px;
  background: lightgray;
  border-radius: 5px;
  padding: 3px 10px;
  font-weight: 500;
  line-height: inherit;
  margin-right: 10px;
}
.p-l-40{
  padding-left: 40px;
}
  
  