<mat-card>
  <mat-card-content class="create_user_page">
    <h2 class="title text-center color_blue">Add new asset</h2>
    <mat-card-title class="p-t-20 p-b-10 color_blue">Basic Details</mat-card-title>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
        <form class="basic-form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0">
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Asset No</mat-label>
                <input matInput placeholder="FSGHF65" formControlName="assetNo" assetNo [ngClass]="{
                  'is-invalid': submitted && checkError('assetNo', 'required')
                }" />
                <mat-error *ngIf="submitted && checkError('assetNo', 'required')">
                  Asset No is required
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Asset Name</mat-label>
                <input matInput placeholder="Dozer" formControlName="name" name [ngClass]="{
                  'is-invalid': submitted && checkError('name', 'required')
                }" />
                <mat-error *ngIf="submitted && checkError('name', 'required')">
                  Asset Name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Class</mat-label>
                <!-- <input type="text" placeholder="Mobile Plant" aria-label="Role" matInput formControlName="assetClass"
                  assetClass [matAutocomplete]="autoClass"
                  [ngClass]="{ 'is-invalid': submitted && f.assetClass.hasError }" /> -->
                <mat-select matInput formControlName="assetClass" assetClass
                  [ngClass]="{ 'is-invalid': submitted && f.assetClass.hasError }">
                  <mat-option>Select class</mat-option>
                  <mat-option [value]="item.value" *ngFor="let item of globals.assetClass">
                    {{ item.name }}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="submitted && checkError('assetClass', 'required')">
                  Class is required
                </mat-error>
                <!-- <mat-select placeholder="Mobile Plant"> -->
                <!-- <mat-option value="option">Available</mat-option>
                    <mat-option value="option">Down</mat-option>
                    <mat-option value="option">Disposed</mat-option> -->
                <!-- </mat-select> -->
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select matInput formControlName="assetType" assetType
                  [ngClass]="{ 'is-invalid': submitted && f.assetType.hasError }">
                  <mat-option>Select type</mat-option>
                  <mat-option [value]="item.value" *ngFor="let item of globals.assetType">
                    {{ item.name }}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="submitted && checkError('assetType', 'required')">
                  Type is required
                </mat-error>
                <!-- <mat-select placeholder="Doxer"> -->
                <!-- <mat-option value="option">Available</mat-option>
                    <mat-option value="option">Down</mat-option>
                    <mat-option value="option">Disposed</mat-option> -->
                <!-- </mat-select> -->
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select matInput formControlName="category" category
                  [ngClass]="{ 'is-invalid': submitted && f.category.hasError }">
                  <mat-option>Select type</mat-option>
                  <mat-option [value]="item.value" *ngFor="let item of globals.assetCategory">
                    {{ item.name }}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="submitted && checkError('category', 'required')">
                  Category is required
                </mat-error>
                <!-- <mat-select placeholder="Doxer"> -->
                <!-- <mat-option value="option">DozerA</mat-option>
                      <mat-option value="option">Down</mat-option>
                      <mat-option value="option">Disposed</mat-option> -->
                <!-- </mat-select> -->
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="35" fxFlex="100"></div>



            <div fxFlex.gt-sm="60" fxFlex="100" class="p-b-10 p-t-10 m-b-40">
              <mat-label>Description</mat-label>
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Textarea" rows="3" formControlName="description" description
                  [ngClass]="{ 'is-invalid': submitted && f.description.hasError }"></textarea>

                <mat-error *ngIf="submitted && checkError('description', 'required')">
                  Description is required
                </mat-error>
              </mat-form-field>
              <!-- <quill-editor
                formControlName="description"
                description
                [ngClass]="{ 'is-invalid': submitted && f.description.hasError }"
                placeholder="Enter Description"
              >
              </quill-editor> -->

            </div>
            <div fxFlex.gt-sm="4" fxFlex="100"></div>
            <div fxFlex.gt-sm="18" fxFlex="100" class=" text-center">
              <mat-label>Asset Image</mat-label>
              <div class="m-t-10" href="javascript:void(0);">
                <img src="../../../assets/img/image.png" alt="" style="max-height: 110px; width: auto">
              </div>
            </div>
            <div fxFlex.gt-sm="18" fxFlex="100" class=" text-center">
              <mat-label>QR Code</mat-label>
              <div class="m-t-10" href="javascript:void(0);">
                <img src="../../../assets/img/image.png" alt="" style="max-height: 110px; width: auto">
              </div>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10">
              <mat-divider> </mat-divider>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue">Make Details</mat-card-title>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Make</mat-label>
                <input matInput placeholder="JCB" formControlName="make" make
                  [ngClass]="{ 'is-invalid': submitted && f.make.hasError }" />

                <mat-error *ngIf="submitted && checkError('make', 'required')">
                  Make is required
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Model</mat-label>
                <input matInput placeholder="FGFSF433" formControlName="model" model
                  [ngClass]="{ 'is-invalid': submitted && f.model.hasError }" />

                <mat-error *ngIf="submitted && checkError('model', 'required')">
                  Model is required
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Year Of Make</mat-label>
                <input matInput placeholder="2022" formControlName="yearOfMake" yearOfMake
                  [ngClass]="{ 'is-invalid': submitted && f.yearOfMake.hasError }" />

                <mat-error *ngIf="submitted && checkError('yearOfMake', 'required')">
                  Year is required
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Country Of Origin</mat-label>
                <input matInput placeholder="India" formControlName="contryOfOrigin" contryOfOrigin
                  [ngClass]="{ 'is-invalid': submitted && f.contryOfOrigin.hasError }" />

                <mat-error *ngIf="submitted && checkError('contryOfOrigin', 'required')">
                  Country is required
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Current Rate</mat-label>
                <input matInput placeholder="00.00" formControlName="currentRate" currentRate
                  [ngClass]="{ 'is-invalid': submitted && f.currentRate.hasError }" />

                <mat-error *ngIf="submitted && checkError('currentRate', 'required')">
                  Current rate is required
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Current Rate Rider</mat-label>
                <input matInput placeholder="0" formControlName="currentRateRider" currentRateRider
                  [ngClass]="{ 'is-invalid': submitted && f.currentRateRider.hasError }" />

                <mat-error *ngIf="submitted && checkError('currentRateRider', 'required')">
                  Current rate rider is required
                </mat-error>
              </mat-form-field>
            </div>


            <mat-divider fxFlex.gt-sm="100" fxFlex="100"> </mat-divider>
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue">Status</mat-card-title>
            </div>


            <div fxFlex.gt-sm="30" fxFlex="100" class="m-t-20">
              <mat-slide-toggle formControlName="allowWO" allowWO value="true"
                [ngClass]="{ 'is-invalid': submitted && f.allowWO.hasError }">Allow Work Order</mat-slide-toggle>

            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Availability</mat-label>
                <mat-select placeholder="Status" formControlName="status" status
                  [ngClass]="{ 'is-invalid': submitted && f.status.hasError }">
                  <!-- <mat-option value="1">Available</mat-option>
                  <mat-option value="2">Down</mat-option>
                  <mat-option value="3">Disposed</mat-option> -->
                  <mat-option>Select status</mat-option>
                  <mat-option [value]="item.value" *ngFor="let item of globals.assetStatus">
                    {{ item.name }}
                  </mat-option>

                </mat-select>

                <mat-error *ngIf="submitted && checkError('status', 'required')">
                  Availability is required
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100" class="m-t-20">
              <mat-slide-toggle formControlName="retireAsset" value="true" retireAsset
                [ngClass]="{ 'is-invalid': submitted && f.retireAsset.hasError }">Retire Asset</mat-slide-toggle>
            </div>
            <div fxFlex.gt-sm="30" fxFlex="100" class="m-t-20">
              <mat-slide-toggle formControlName="ownership" value="true" ownership
                [ngClass]="{ 'is-invalid': submitted && f.ownership.hasError }">Is this asset rented?</mat-slide-toggle>
            </div>
            <div fxFlex.gt-sm="40" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Retirement Date</mat-label>

                <input matInput (click)="picker.open()" [min]="currentDate" [matDatepicker]="picker" placeholder=""
                  formControlName="retirementDate" retirementDate
                  [ngClass]="{'is-invalid':submitted && f.retirementDate.hasError}" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- <input matInput placeholder="" /> -->

                <mat-error *ngIf="submitted && checkError('retirementDate', 'required')">
                  Retirement date is required
                </mat-error>
              </mat-form-field>
            </div>
            <!-- <div fxFlex.gt-sm="30" fxFlex="100">
              <small>Ownership</small>
              <div>
                <mat-label class="m-r-5">RENTAL</mat-label
                ><mat-slide-toggle>OWNED</mat-slide-toggle>
              </div>
            </div> -->

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-divider> </mat-divider>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10 text-center">
              <div class="m-0 m-t-15">
                <button mat-raised-button color="primary">Add Asset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>