.employee-list th.mat-header-cell {
    width: 15%;
  }
  
  .no-wrap td,
  .no-wrap .ng-star-inserted {
    white-space: inherit;
  }
  
  .list-Img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  .right-btn-s {
    background: content-box;
    color: #1e88e5;
    font-size: 30px;
  }
  .right-btn-s mat-icon {
    height: 30px;
    width: 30px;
    font-size: 30px;
  }
  .p-custom{
    padding: 10px 24px 5px !important;
  }

 
  