<mat-card>
  <mat-card-content class="create_user_page">
    <h2 class="title text-center color_blue">Create User</h2>
    <mat-divider> </mat-divider>
    <mat-card-title class="p-t-30 p-b-10 color_blue">User Details</mat-card-title>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
        <form class="basic-form" [formGroup]="form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0">
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Employee No</mat-label>
                <input matInput [ngClass]="{ 'is-invalid': submitted && f.employeeNo.hasError }" matInput
                  placeholder="Employee No." formControlName="employeeNo" employeeNo />
                <mat-error *ngIf="submitted && checkError('employeeNo', 'required')">
                  Employee No. is required.
                </mat-error>
                <mat-error *ngIf="checkError('employeeNo', 'pattern')">
                  Employee No. is invalid.
                </mat-error>
                <mat-error *ngIf="checkError('employeeNo', 'maxlength')">
                  Max 15 characters are allowed.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline" class="m-b-15">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" required formControlName="firstName" firstName
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.hasError }" />
                <mat-error *ngIf="submitted && checkError('firstName', 'required')">
                  First Name is required.
                </mat-error>
                <mat-error *ngIf="checkError('firstName', 'maxlength')">
                  Max 25 characters are allowed.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input [ngClass]="{ 'is-invalid': submitted && f.lastName.hasError }" matInput placeholder="Last Name"
                  formControlName="lastName" lastName />
                <mat-error *ngIf="submitted && checkError('lastName', 'required')">
                  Last Name is required.
                </mat-error>
                <mat-error *ngIf="checkError('lastName', 'maxlength')">
                  Max 25 characters are allowed.
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input matInput placeholder="Email Id" formControlName="email" email
                  [ngClass]="{ 'is-invalid': submitted && f.email.hasError }" />
                <mat-error *ngIf="submitted && checkError('email', 'required')">
                  Email id is required
                </mat-error>
                <mat-error *ngIf="checkError('email', 'pattern')"> Invalid Email Id. </mat-error>
                <mat-error *ngIf="checkError('email', 'maxlength')">
                  Max 30 characters are allowed.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline" class="m-b-15" fxFlex="25">
                <mat-select formControlName="phoneCode" phoneCode
                  [ngClass]="{ 'is-invalid': submitted && f.phoneCode.hasError }">
                  <mat-option [value]="item.value" *ngFor="let item of global.phoneCode">
                    {{ item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="m-b-15" fxFlex="75">
                <mat-label>Contact No</mat-label>
                <input [ngClass]="{ 'is-invalid': submitted && f.phone.hasError }" matInput placeholder="Contact No"
                  formControlName="phone" phone />
                <mat-error *ngIf="submitted && checkError('phone', 'required')">
                  Contact No is required.
                </mat-error>
                <mat-error *ngIf="checkError('phone', 'pattern')">
                  Contact No is invalid.
                </mat-error>
                <mat-error *ngIf="
                    !checkError('phone', 'pattern') &&
                    (checkError('phone', 'maxlength') || checkError('phone', 'minlength'))
                  ">
                  Contact no should be 10 digits.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100" class="p-10"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <!-- <mat-form-field appearance="outline">
                <input matInput (click)="picker.open()" [matDatepicker]="picker" placeholder="Date Of Birth"
                  formControlName="dob" dob [ngClass]="{'is-invalid':submitted && f.dob.hasError}" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="submitted && checkError('dob', 'required')">
                  Date of Birth is required.
                </mat-error>

              </mat-form-field> -->
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue">Employee Details</mat-card-title>
              <mat-slide-toggle class="example-margin" value="true" formControlName="isManager" isManager>Is this user a
                manager/supervisor?
              </mat-slide-toggle>
              &nbsp;

              <!-- <mat-checkbox class="example-margin" value="true" formControlName="notifyBySms" notifyBySms>Inform
                Employee By SMS
              </mat-checkbox> -->
            </div>
            <!-- <div fxFlex.gt-sm="50" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue"></mat-card-title>
              <mat-checkbox class="example-margin" value="true" formControlName="notifyBySms" notifyBySms>Notify By Sms
              </mat-checkbox>
            </div> -->

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <!-- <mat-select placeholder="Employee Role" > -->
                <input type="text" placeholder="Role" aria-label="Role" matInput formControlName="roleId" roleId
                  [matAutocomplete]="auto" [ngClass]="{ 'is-invalid': submitted && f.roleId.hasError }" />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option [value]="item.name" *ngFor="let item of roles">
                    {{ item.name }}
                  </mat-option>
                </mat-autocomplete>
                <!-- </mat-select> -->
                <mat-error *ngIf="submitted && checkError('roleId', 'required')">
                  Role is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Department" formControlName="departmentId" departmentId
                  [ngClass]="{ 'is-invalid': submitted && f.departmentId.hasError }"
                  [matAutocomplete]="matAutocompleteDepartment" />
                <mat-autocomplete #matAutocompleteDepartment="matAutocomplete">
                  <!-- <mat-select placeholder="Department" formControlName="departmentId" departmentId
                  [ngClass]="{'is-invalid':submitted && f.departmentId.hasError}"> -->
                  <!-- <mat-option value="">Select</mat-option> -->
                  <mat-option [value]="item.description" *ngFor="let item of departments">
                    {{ item.description }}
                  </mat-option>
                </mat-autocomplete>
                <!-- </mat-select> -->

                <mat-error *ngIf="submitted && checkError('departmentId', 'required')">
                  Department is required.
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Manager" formControlName="managerId" managerId
                  [ngClass]="{ 'is-invalid': submitted && f.managerId.hasError }">
                  <mat-option value="">Select</mat-option>
                  <mat-option [value]="item.id" *ngFor="let item of managers">
                    {{ item.name }}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="submitted && checkError('managerId', 'required')">
                  Manager is required.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- <div fxFlex.gt-sm="35" fxFlex="100"></div> -->
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Employee Type" formControlName="employTypeId" employTypeId
                  [ngClass]="{ 'is-invalid': submitted && f.employTypeId.hasError }"
                  [matAutocomplete]="matAutocompleteEmpType" />
                <mat-autocomplete #matAutocompleteEmpType="matAutocomplete">
                  <!-- <mat-select placeholder="Employee Type" formControlName="employTypeId" employTypeId
                  [ngClass]="{'is-invalid':submitted && f.employTypeId.hasError}"> -->
                  <!-- <mat-option value="">Select</mat-option> -->
                  <mat-option [value]="item.name" *ngFor="let item of employeeType">
                    {{ item.name }}
                  </mat-option>
                </mat-autocomplete>
                <!-- </mat-select> -->
                <mat-error *ngIf="submitted && checkError('employTypeId', 'required')">
                  Employee Type is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="70" fxFlex="100"></div>

            <!-- <div fxFlex.gt-sm="55" fxFlex="100" class="p-10"></div>

            <div fxFlex.gt-sm="5" fxFlex="100" class="p-10"></div> -->
            <mat-divider fxFlex.gt-sm="100" fxFlex="100"> </mat-divider>
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-slide-toggle formControlName="notifyBySms" notifyBySms value="true">Send user credentials via SMS
              </mat-slide-toggle>

              <!-- <h4 class="m-0 m-t-20">Date: <span class="p-l-25">22 August 2022</span></h4> -->
            </div>
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10 text-right">
              <div class="m-0 m-t-15 ">
                <button class="button m-5 " mat-raised-button color="primary" (click)="onSubmit()">
                  Grant Access
                  <!-- <mat-icon> arrow_right_alt </mat-icon> -->
                </button>
                <!-- <button mat-raised-button >OPen modal</button> -->
              </div>
            </div>
            <!-- <div fxFlex.gt-sm="15" fxFlex="100" class="p-10"></div> -->
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>