<mat-card>
  <mat-card-content class="create_user_page">
    <h2 class="title text-center color_blue">Create User</h2>
    <mat-divider> </mat-divider>
    <mat-card-title class="p-t-30 p-b-10 color_blue">User Details</mat-card-title>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
        <form class="basic-form" [formGroup]="form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0">
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Employee No</mat-label>
                <input matInput [ngClass]="{'is-invalid':submitted && f.employeeNo.hasError}" matInput
                  placeholder="Employee No." formControlName="employeeNo" employeeNo />
                <mat-error *ngIf="submitted && checkError('employeeNo', 'required')">
                  Employee No. is required.
                </mat-error>
                <mat-error *ngIf="submitted && checkError('employeeNo', 'pattern')">
                  Employee No. is invalid.
                </mat-error>
                <mat-error *ngIf="checkError('employeeNo', 'maxlength')">
                  Max 15 characters are allowed.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline" class="m-b-15">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" required formControlName="firstName" firstName
                  [ngClass]="{'is-invalid':submitted && f.firstName.hasError}" />
                <mat-error *ngIf="submitted && checkError('firstName', 'required')">
                  First Name is required.
                </mat-error>
                <mat-error *ngIf="checkError('firstName', 'maxlength')">
                  Max 25 characters are allowed.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input [ngClass]="{'is-invalid':submitted && f.lastName.hasError}" matInput placeholder="Last Name"
                  formControlName="lastName" lastName />
                <mat-error *ngIf="submitted && checkError('lastName', 'required')">
                  Last Name is required.
                </mat-error>
                <mat-error *ngIf="checkError('lastName', 'maxlength')">
                  Max 25 characters are allowed.
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input matInput placeholder="Email Id" formControlName="email" email
                  [ngClass]="{'is-invalid':submitted && f.email.hasError}" />
                <mat-error *ngIf="submitted && checkError('email', 'required')">
                  Email id is required
                </mat-error>
                <mat-error *ngIf="checkError('email', 'pattern')">
                  Invalid Email Id.
                </mat-error>
                <mat-error *ngIf="checkError('email', 'maxlength')">
                  Max 30 characters are allowed.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline" class="m-b-15">
                <mat-label>Contact No</mat-label>
                <input [ngClass]="{'is-invalid':submitted && f.contactNo.hasError}" matInput placeholder="Contact No"
                  formControlName="contactNo" contactNo />
                <mat-error *ngIf="submitted && checkError('contactNo', 'required')">
                  Contact No is required.
                </mat-error>
                <mat-error *ngIf="checkError('contactNo', 'pattern')">
                  Contact No is invalid.
                </mat-error>
                <mat-error *ngIf="checkError('contactNo', 'maxlength') || checkError('contactNo', 'minlength')">
                  Contact no should be 10 digits.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100" class="p-10"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <input matInput (click)="picker.open()" [matDatepicker]="picker" placeholder="Date Of Birth"
                  formControlName="dob" dob [ngClass]="{'is-invalid':submitted && f.dob.hasError}" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="submitted && checkError('dob', 'required')">
                  Date of Birth is required.
                </mat-error>

              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue">Employee Details</mat-card-title>
              <mat-checkbox class="example-margin" value="true" formControlName="isManager" isManager>Is Manager
              </mat-checkbox>
            </div>

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Employee Role" formControlName="roleId" roleId
                  [ngClass]="{'is-invalid':submitted && f.roleId.hasError}">
                  <mat-option value="all">All</mat-option>
                  <mat-option [value]="item.id" *ngFor="let item of roles">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && checkError('roleId', 'required')">
                  Role is required.
                </mat-error>

              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Department" formControlName="departmentId" departmentId
                  [ngClass]="{'is-invalid':submitted && f.departmentId.hasError}">
                  <mat-option value="">Select</mat-option>
                  <mat-option [value]="item.id" *ngFor="let item of departments">
                    {{ item.description }}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="submitted && checkError('departmentId', 'required')">
                  Department is required.
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Manager" formControlName="managerId" managerId
                  [ngClass]="{'is-invalid':submitted && f.managerId.hasError}">
                  <mat-option value="all">All</mat-option>
                  <mat-option [value]="item.id" *ngFor="let item of managers">
                    {{ item.firstName }} {{ item.lastName }}
                  </mat-option>

                </mat-select>

                <mat-error *ngIf="submitted && checkError('managerId', 'required')">
                  Manager is required.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- <div fxFlex.gt-sm="35" fxFlex="100"></div> -->
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Employee Type" formControlName="employTypeId" employTypeId
                  [ngClass]="{'is-invalid':submitted && f.employTypeId.hasError}">
                  <mat-option value="">Select</mat-option>
                  <mat-option [value]="item.id" *ngFor="let item of employeeType">
                    {{ item.name }}
                  </mat-option>
                  <mat-option>
                    <!-- {{ item.description }} -->
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && checkError('employTypeId', 'required')">
                  Employee Type is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="70" fxFlex="100"></div>

            <div fxFlex.gt-sm="55" fxFlex="100" class="p-10"></div>

            <div fxFlex.gt-sm="5" fxFlex="100" class="p-10"></div>
            <mat-divider fxFlex.gt-sm="100" fxFlex="100"> </mat-divider>
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <!-- <h4 class="m-0 m-t-20">Date: <span class="p-l-25">22 August 2022</span></h4> -->
            </div>
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10 text-center">
              <div class="m-0 m-t-15">
                <button class="button" mat-raised-button color="primary" (click)="onSubmit()">
                  Grant Access
                  <!-- <mat-icon> arrow_right_alt </mat-icon> -->
                </button>
                <!-- <button mat-raised-button >OPen modal</button> -->
              </div>
            </div>
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10"></div>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>