<app-top-nav (sideNavToggled)="snav.toggle()"></app-top-nav>

<mat-sidenav-container>


    <mat-sidenav #snav [mode]="sideNavMode" [opened]="sideNavOpened">
        <mat-nav-list>
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
                    <app-menu-list-item *ngFor="let item of navItems" [item]="item">
                    </app-menu-list-item>
                    <hr />
                    <a mat-list-item (click)="onLoggedOut()" class="menu-list-item">
                        <mat-icon class="routeIcon">exit_to_app</mat-icon>
                        Logout
                   </a>
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
        <div class="page-wrapper">
            <div class="content container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>