<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <h2 class="title text-center">RESIGNATION ADVICE</h2>
        <mat-divider> </mat-divider>

        <div fxLayout="row wrap">
          <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
            <form class="basic-form">
              <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <!-- column -->
                <div fxFlex.gt-sm="17.5" fxFlex="100" class="p-10">
                  <h4>Name:</h4>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="27.5" fxFlex="100" class="p-10">
                  <mat-form-field>
                    <input matInput placeholder="Enter Name" />
                  </mat-form-field>
                </div>
                <div fxFlex.gt-sm="5" fxFlex="100" class="p-10"></div>
                <!-- column -->
                <div fxFlex.gt-sm="17.5" fxFlex="100" class="p-10">
                  <h4>Employee Number:</h4>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="27.5" fxFlex="100" class="p-10">
                  <mat-form-field>
                    <input matInput placeholder="Enter Employee Number" />
                  </mat-form-field>
                </div>
                <div fxFlex.gt-sm="5" fxFlex="100" class="p-10"></div>
                <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                  <h4>
                    Please accept this resignation advice of my intention to cease my employment
                    with RTL Mining and Earthworks Pvt.Ltd.
                  </h4>
                </div>
                <div fxFlex.gt-sm="22.5" fxFlex="100" class="p-10">
                  <h4>My last working day will be :</h4>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="22.5" fxFlex="100" class="p-10">
                  <mat-form-field class="p-l-10" appearance="outline">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div fxFlex.gt-sm="55" fxFlex="100" class="p-10"></div>
                <!-- column -->
                <div fxFlex.gt-sm="17.5" fxFlex="100" class="p-10 m-b-10">
                  <h4 class="m-0">Take a Selfie</h4>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="27.5" fxFlex="100" class="p-10 m-b-10">
                  <mat-icon class="logo">add_a_photo</mat-icon>
                  <div class="emp-reg_img">
                    <img src="../../../assets/img/plant-background.jpeg" alt="" />
                  </div>
                </div>
                <div fxFlex.gt-sm="5" fxFlex="100" class="p-10"></div>
                <!-- column -->
                <div fxFlex.gt-sm="17.5" fxFlex="100" class="p-10 m-b-10">
                  <h4 class="m-0">Add Signature</h4>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="27.5" fxFlex="100" class="p-10 m-b-10">
                  <mat-icon class="logo">create</mat-icon>
                  <div class="emp-reg_img">
                    <img
                      src="../../../assets/img/1200px-Autograph_of_Benjamin_Franklin.svg.png"
                      alt=""
                    />
                  </div>
                </div>
                <div fxFlex.gt-sm="5" fxFlex="100" class="p-10"></div>
                <mat-divider fxFlex.gt-sm="100" fxFlex="100"> </mat-divider>
                <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                  <h4 class="m-0 m-t-20">Date: <span class="p-l-25">22 August 2022</span></h4>
                </div>
                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10 text-center">
                  <div class="m-0 m-t-15">
                    <button class="button" mat-raised-button color="warn">
                      RESIGN <mat-icon> arrow_right_alt </mat-icon>
                    </button>
                  </div>
                </div>
                <div fxFlex.gt-sm="25" fxFlex="100" class="p-10"></div>
              </div>
            </form>
          </div>
        </div> </mat-card-content
    ></mat-card>
  </div>
</div>
