
<mat-card>
    <mat-card-content class="create_user_page">
      <!-- <div class="dfc"> -->
      <a href="javascript:void(0);" class="dfc m-t-10" style="float: left">
        <mat-icon>keyboard_arrow_left</mat-icon>Back
      </a>
      <h2 class="title text-center color_blue m-t-0">Add new project</h2>
      <!-- </div> -->
  
      <mat-divider> </mat-divider>
      <mat-card-title class="p-t-20 p-b-10 color_blue">Project Details</mat-card-title>
      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
          <form class="basic-form">
            <div
              fxLayout="row wrap"
              fxFlexAlign="center"
              class="row m-0 new-client-form"
              style="align-items: center"
            >
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Project # :</mat-label>
                  <input matInput placeholder="Project #" />
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Project Name :</mat-label>
                  <input matInput placeholder="Project Name" />
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Location :</mat-label>
                  <input matInput placeholder="Location" />
                </mat-form-field>
              </div>
              
  
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Client :</mat-label>
                  <input matInput placeholder="Client" />
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Contract / EA :</mat-label>
                  <input matInput placeholder="Contract / EA" />
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Starting Date :</mat-label>
                  <input matInput placeholder="Starting Date :" />
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>ETC Date :</mat-label>
                  <input matInput placeholder="ETC Date :" />
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>End Date :</mat-label>
                  <input matInput placeholder="End Date :" />
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100" align="center">
                <button mat-raised-button class="text_center" color="primary">Save</button>
              </div>
  
              <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
                <mat-divider> </mat-divider>
              </div>
  
              <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
                <mat-card-title class="p-b-10 color_blue">Status</mat-card-title>
              </div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Status Update Date :</mat-label>
                  <input matInput placeholder="Status Update Date :" />
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Project Status :</mat-label>
                  <input matInput placeholder="Project Status" />
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="5" fxFlex="100"></div>
              <div fxFlex.gt-sm="30" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Remark :</mat-label>
                  <input matInput placeholder="Remark :" />
                </mat-form-field>
              </div>
              
              <div fxFlex.gt-sm="100" fxFlex="100" align="center">
                <button mat-raised-button color="primary">
                  Update
                </button>
              </div>
              
            </div>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  