<mat-card class="oh text-center little-profile">
  <img mat-card-image src="assets/images/background/profile-bg.jpg" class="profile-bg-height"
    alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <div class="pro-img">
      <img onerror="this.onerror=null;this.src='../../../../assets/img/rtl-logo-new-icon.jpg';" [src]="user.profilePic"
        width="100" alt="user" />
    </div>
    <h3 class="m-b-0">{{user?.firstName}} {{user?.lastName}}</h3>
    <h6 class="m-t-0 text-muted">Manager</h6>
    <mat-card-actions>
      <button mat-raised-button color="warn">Follow</button>
    </mat-card-actions>
    <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
      <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
        <h3 class="m-0 font-light">0</h3>
        <small>Articles</small>
      </div>
      <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
        <h3 class="m-0 font-light">0</h3>
        <small>Followers</small>
      </div>
      <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
        <h3 class="m-0 font-light">0</h3>
        <small>Likes</small>
      </div>
    </div>
  </mat-card-content>
</mat-card>