<!-- <button [matMenuTriggerFor]="flags" mat-icon-button class="m-r-5">
  <i class="flag-icon flag-icon-{{ selectedLanguage.icon }}"> </i>
</button>
<mat-menu #flags="matMenu" class="mymegamenu">
  <button mat-menu-item *ngFor="let lang of languages" (click)="changeLanguage(lang)">
    <i class="flag-icon flag-icon-{{ lang.icon }} m-r-10"></i>
    <span>{{ lang.language }}</span>
  </button>
</mat-menu> -->

<!-- ============================================================== -->
<!-- Notification - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="notification" (click)="getAllNotification()" mat-icon-button class="m-r-5">
  <mat-icon [matBadge]="notifications && notifications.length>0 ? notifications.length:''" matBadgeColor="warn">
    notifications
  </mat-icon>
  <div class="notify">
    <!-- <span class="heartbit"></span> -->
    <!-- <span class="point"></span> -->
  </div>
</button>
<mat-menu #notification="matMenu" class="mymegamenu">
  <div class="mailbox">
    <ul>
      <li>
        <div class="drop-title text-muted">Notifications</div>
      </li>
      <li>
        <div class="message-center">
          <perfect-scrollbar [config]="config">
            <ng-container *ngIf="!notifications ||(notifications && notifications.length <=0)">
              <!-- <li> -->
              <div class="drop-title text-muted">No new notifications</div>
              <!-- </li> -->
            </ng-container>
            <!-- Message -->
            <ng-container *ngIf="notifications && notifications.length>0">
              <a href="javascript:void(0);" *ngFor="let notification of notifications">
                <div class="user-img">
                  <img onerror="this.onerror=null;this.src='../../../../assets/img/user-default-img.jpg';"
                    [src]="baseUrl+notification?.body?.profileImage[0]?.digitalAssets?.url" alt="user" class="img-circle"
                    style="width:40px" />
                  <!-- <span class="profile-status {{ mymessage.status }} pull-right"></span> -->
                </div>
                <div class="mail-content">
                  <h5 class="font-12" (click)="redirectNotification(notification)">{{ notification?.message }}</h5>
                  <!-- <span class="mail-desc text-muted"> mymessage.subject </span> -->
                  <span class="time text-muted">{{notification?.body?.time | dateAgo }}</span>
                </div>
                <div>
                  <mat-icon (click)="$event.stopPropagation();markRead(notification?.eventId)">delete_outline</mat-icon>
                </div>

                <!-- <div class="user-img">
                  <img [src]="notification?.body?.profileImage|base64Image" class="img-circle" width="40" />
                </div>
                <div class="mail-content">
                  <h5 (click)="redirectNotification(notification)">{{ notification?.message }}</h5>
                  <span class="time text-muted">
                    <mat-icon (click)="markRead(notification?.eventId)">delete_outline</mat-icon>
                  </span>
                  <span class="time text-muted">{{notification?.body?.time | dateAgo }}</span>

                </div> -->
              </a>
            </ng-container>

          </perfect-scrollbar>
        </div>
      </li>


    </ul>
  </div>
</mat-menu>
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="message" mat-icon-button class="m-r-5">
  <mat-icon>email</mat-icon>
  <!-- <div class="notify">
    <span class="heartbit"></span>
    <span class="point"></span>
  </div> -->
</button>
<mat-menu #message="matMenu" class="mymessage">
  <div class="mailbox">
    <ul>
      <li>
        <div class="drop-title text-muted">You have 0 new messages</div>
      </li>
      <li>
        <div class="message-center">
          <perfect-scrollbar [config]="config">
            <!-- Message -->
            <!-- <a href="#" *ngFor="let mymessage of mymessages">
              <div class="user-img">
                <img src="{{ mymessage.useravatar }}" alt="user" class="img-circle" width="40" />
                <span class="profile-status {{ mymessage.status }} pull-right"></span>
              </div>
              <div class="mail-content">
                <h5>{{ mymessage.from }}</h5>
                <span class="mail-desc text-muted">{{ mymessage.subject }}</span>
                <span class="time text-muted">{{ mymessage.time }}</span>
              </div>
            </a> -->
            <!-- Message -->
          </perfect-scrollbar>
        </div>
      </li>
    </ul>
  </div>
</mat-menu>
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
  <img onerror="this.onerror=null;this.src='../../../../assets/img/favicon.png';" [src]="user && user.profileImage && user.profileImage.length>0?(baseUrl+user.profileImage[0].digitalAssets?.url+'&key='+user.token):''"
     class="profile-pic" />
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon> Settings
  </button>
  <button mat-menu-item (click)="redirect('profile')">
    <mat-icon>account_box</mat-icon> Profile
  </button>
  <button mat-menu-item (click)="redirect('release')">
    <mat-icon>assessment</mat-icon>Release Note
  </button>
  <button mat-menu-item (click)="redirect('change-password')">
    <mat-icon>settings</mat-icon>Change Password
  </button>
  <button mat-menu-item (click)="redirect('privacy')">
    <mat-icon>loyalty</mat-icon>Privacy Policy
  </button>
  <button mat-menu-item (click)="redirect('support')">
    <mat-icon>contact_support</mat-icon>Contact & Support
  </button>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>exit_to_app</mat-icon> Sign Out
  </button>
</mat-menu>