<mat-card>
    <mat-tab-group mat-stretch-tabs (selectedIndexChange)="onTabChanged($event);">
        <mat-tab label="Apply Leave">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <mat-card class="topic">
                    <mat-icon>calendar_today</mat-icon>
                   Choose Day
                </mat-card>
                <!-- <mat-divider> </mat-divider> -->

                <mat-card>
                    <button mat-button type="button" class="custom-grey-button" color="primary"
                        (click)="calculateDate('-1')">Yesterday</button>
                    <button mat-button type="button" class="custom-grey-button" color="primary"
                        (click)="calculateDate('0')">Today</button>
                    <button mat-button type="button" class="custom-grey-button" color="primary"
                        (click)="calculateDate('1')">Tomorrow</button>
                    <button mat-button type="button" class="custom-grey-button" color="primary"
                        (click)="calculateDate('2')">Day
                        After</button>
                    <button mat-button type="button" class="custom-grey-button" color="primary"
                        (click)="calculateDate('fri')">This
                        Friday</button>
                    <button mat-button type="button" class="custom-grey-button" color="primary"
                        (click)="calculateDate('mon')">Next
                        Monday</button>


                </mat-card>

                <mat-card > 

                    <mat-form-field appearance="fill">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input  [rangePicker]="picker" 
                            [ngClass]="{ 'is-invalid':submitted && (checkError('startDate', 'required') || checkError('endDate', 'required')) }">
                            <input matStartDate formControlName="startDate" (dateChange)="calculateDaysByField()" placeholder="Start date">
                            <input matEndDate (dateChange)="calculateDaysByField()" formControlName="endDate" placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error
                            *ngIf="submitted && (checkError('startDate', 'required') || checkError('endDate', 'required'))">
                            Invalid dates
                        </mat-error>
                    </mat-form-field>
                    <button mat-button class="custom-grey-button" disabled>{{leaveDays}}</button> Days
                    <br>
                    <button mat-button type="button" class="custom-grey-button" (click)="calculateHours(1)"
                        color="primary">1
                        hr</button>
                    <button mat-button type="button" class="custom-grey-button" (click)="calculateHours(2)"
                        color="primary">2
                        hr</button>
                    <button mat-button type="button" class="custom-grey-button" (click)="calculateHours(3)"
                        color="primary">3
                        hr</button>
                    <button mat-button type="button" class="custom-grey-button" (click)="calculateHours(4)"
                        color="primary">4
                        hr</button>
                    Or
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>--:--:--</mat-label> -->
                        <input formControlName="startTime" [textMask]="{mask: util.timeMask}" matInput
                            placeholder="--:--:--" [type]="'text'" (change)="calculateHoursByField()">
                    </mat-form-field>
                    to
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>--:--:--</mat-label> -->
                        <input formControlName="endTime" [textMask]="{mask: util.timeMask}" placeholder="--:--:--"
                            matInput [type]=" 'text'" (change)="calculateHoursByField()">

                    </mat-form-field>
                    <button mat-button class="custom-grey-button" disabled>{{leaveHours}}</button> hours
                </mat-card>
                <mat-card class="topic">
                    <mat-icon>calendar_today</mat-icon>
                    Choose Type
                </mat-card>
                <mat-card>
                    <input type="hidden" formControlName="leaveType">
                    <ng-container *ngFor="let leave of leaveTypeList">
                        <button mat-button type="button" class="custom-grey-button" color="primary"
                            [ngClass]="{ 'active': leave.id == selectedLeaveType}"
                            (click)="setLeaveType(leave)">{{leave?.leaveDescription}}</button>
                    </ng-container>
                </mat-card>
                <mat-card class="topic">
                    <mat-icon>calendar_today</mat-icon>
                    Approval
                </mat-card>
                <mat-card>
                    <mat-card-actions>
                        <mat-form-field appearance="outline">
                            <!-- <mat-label>Outline form field</mat-label> -->
                            <input [ngClass]="{ 'is-invalid':submitted && checkError('leaveReason', 'required')}"
                                matInput formControlName="leaveReason" placeholder="Comment">
                            <mat-error *ngIf="submitted && checkError('leaveReason', 'required')">
                                Comment is required
                            </mat-error>
                        </mat-form-field>
                        <!-- <p> -->
                        <!-- Leave Balance <button mat-button class="custom-grey-button" disabled>{{availableLeaveCount}}</button> -->
                        Manager's Name <button mat-raised-button color="warn" type="submit">REQUEST FOR APPROVAL<mat-icon>
                                arrow_right_alt
                            </mat-icon>
                        </button>
                        <!-- </p> -->
                    </mat-card-actions>
                </mat-card>
            </form>
        </mat-tab>
        <mat-tab label="History">
            <mat-card>
                <mat-card-title align="right">
                    August 2022<mat-form-field style="display:none;text-align: right;">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="pickerList" [(ngModel)]="historyMonth">
                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker #pickerList></mat-datepicker>
                    </mat-form-field>
                    <mat-icon (click)="pickerList.open()">calendar_today</mat-icon>

                </mat-card-title>
                <mat-card-content>
                    <div class="mat-elevation-z8">
                        <table width="100%" mat-table [dataSource]="dataSource" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="sno">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sno </th>
                                <td mat-cell *matCellDef="let row;let i=index;"> {{i+1}} </td>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="dates">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> dates </th>
                                <td mat-cell *matCellDef="let row">{{row.startDateTime | date}} to {{row.endDateTime | date}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="days">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> days </th>
                                <td mat-cell *matCellDef="let row">{{calculateDays(row?.startDateTime,row?.endDateTime)}}</td>
                            </ng-container>

                            <!-- Fruit Column -->
                            <ng-container matColumnDef="time">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> time </th>
                                <td mat-cell *matCellDef="let row">{{row?.totalHour}} </td>
                            </ng-container>

                            <ng-container matColumnDef="hours">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> hours</th>
                                <td mat-cell *matCellDef="let row"> {{row?.totalHour}}</td>
                            </ng-container>

                            <ng-container matColumnDef="manager">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> manager</th>
                                <td mat-cell *matCellDef="let row"> {{row?.approver?.firstName}} {{row?.approver?.lastName}}</td>
                            </ng-container>


                            <ng-container matColumnDef="leave_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> leave type</th>
                                <td mat-cell *matCellDef="let row"> {{row?.leaveType?.leaveDescription}} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> status</th>
                                <td mat-cell *matCellDef="let row">{{getStatus(row?.leaveStatus)}} </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="8">No record</td>
                            </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
                        </mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-tab>

    </mat-tab-group>
</mat-card>