.example-stretched-tabs {
    max-width: 800px;
}
.topic{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}
.header{
    display: flex;
    flex-direction: row;
}
.timeform{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.calender{
    width: 20%;
    margin-right: 1%;
    margin-bottom: -2%;
}
.hours{
    margin-top: 2.4%;
    width: 7%;
    margin-right: 1%;
}

.custom-grey-button {
    background: #D9D9D9;
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 2em;
    color: #000000;
    margin: 1% 2% 0 0;
}
.icon{
    margin-right: 1%;
}

 .active {
    background: #3A93D4;
}
.approval{
    display: flex;
    flex-direction: row;
}
.comment{
    width: 35%;
    margin-right: 5%;
}.mat-body-2{
   font-size: 18px;
   margin-top: 1.3%;
   margin-right: 1%;
   margin-left: 1%;
  
}


// th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
//     width:auto;
//   }
