<mat-card>
  <mat-card-content class="create_user_page">
    <h2 class="title text-center color_blue">Add New List</h2>
    <!-- <mat-card-title class="p-t-20 p-b-10 color_blue">Basic Details</mat-card-title> -->
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex="100" fxFlexAlign="center" class="row m-0">
        <form class="basic-form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row m-0">
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10">
              <mat-divider> </mat-divider>
            </div>

            <!-- <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-card-title class="p-b-10 color_blue">Make Details</mat-card-title>
            </div> -->

            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Inspection List Name</mat-label>
                <input matInput placeholder="Inspection List Name" formControlName="Inspection List Name"  />
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Class</mat-label>
                <input matInput placeholder="Class" formControlName="class" class />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="5" fxFlex="100"></div>
            <div fxFlex.gt-sm="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <input matInput placeholder="Type" formControlName="Type" type />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">

                <div cdkDropListGroup>
                    <div class="example-container">
                      <h2>To do</h2>
                  
                      <!-- <div
                        cdkDropList
                        [cdkDropListData]="todo"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                      </div> -->
                    </div>
                  
                    <div class="example-container">
                      <h2>Done</h2>
                  
                      <!-- <div
                        cdkDropList
                        [cdkDropListData]="done"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                      </div> -->
                    </div>
                  </div>
                  
                
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-10 p-t-10">
              <mat-divider> </mat-divider>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10 text-center">
              <div class="m-0 m-t-15">
                <button mat-raised-button color="primary">Save List</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
