<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <div>
      <!-- <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Employee List"> -->
      <mat-card class="m-0 m-t-20 m-b-5">
        <mat-card-content class="p-custom">
          <div class="m-l-10 m-r-10">
            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
              <div fxFlex.gt-sm="50" class="p-r-10" fxFlex="100">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter(true)" [(ngModel)]="search" placeholder="Filter" />
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
              <!-- <div fxFlex.gt-sm="50" class="font-12" align="right">
               
                <div class="text-right">
                  
                  <button class="m-t-10 m-b-10 right-btn-s " [matTooltip]="addEMPmessage.value" mat-flat-button>
                    Create Employee
                    <mat-icon>add_comment</mat-icon>
                  </button>
                </div>
              </div> -->
              <!-- <div fxFlex.gt-sm="30" class="font-12">
                    <mat-form-field appearance="outline">
                      <mat-label (click)="picker.open()">Select Date Range</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate [(ngModel)]="startDate" placeholder="Start date" readonly
                          (dateChange)="applyFilter()" (click)="picker.open()" />
                        <input matEndDate placeholder="End date" readonly [(ngModel)]="endDate"
                          (dateChange)="applyFilter()" (click)="picker.open()" />
                      </mat-date-range-input>

                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>

                    </mat-form-field>
                  </div> -->
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="m-0 m-t-5 m-b-5">
        <mat-card-content>
          <div class="table-responsive infinite-scroll">
            <mat-table #table [dataSource]="dataSource" class="table employee-list no-wrap" matSort>

              <!-- Name Column -->
              <ng-container matColumnDef="employeeNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee No</th>
                <td mat-cell *matCellDef="let row">
                  <!-- <span class="header-label">days:</span> -->
                  {{ row?.employeeNo }}
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="employeePic">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Image</th>
                <td mat-cell *matCellDef="let row">
                  <!-- <span class="header-label">days:</span> -->
                  <!-- {{ row?.firstName }}{{ row?.lastName }} -->
                  <div style="display:flex; align-items: center;">
                    <img class="m-r-10 list-Img" src="assets/images/users/1.jpg" alt="" />
                  </div>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
                <td mat-cell *matCellDef="let row">
                  <!-- <span class="header-label">days:</span> -->

                  <div style="display:flex; align-items: center;">
                    <img class="m-r-10 list-Img"
                      onerror="this.onerror=null;this.src='../../assets/img/user-default-img.jpg';"
                      [src]="globals.generateFileUrl(row && row.profileImage && row.profileImage.length>0?row.profileImage[0]?.digitalAssets?.url:'',user.token)"
                      alt="" />
                    {{ row?.employeeName }}
                    <!-- {{baseUrl}}{{row && row.profileImage && row.profileImage.length>0?row.profileImage[0]?.digitalAssets?.url:''}}&key={{user.token}} -->

                    <!-- {{getFile(row?.profileImage)}} -->
                  </div>
                </td>
              </ng-container>


              <!-- Name Column -->
              <ng-container matColumnDef="employeType.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Type</th>
                <td mat-cell *matCellDef="let row">
                  <!-- <span class="header-label">days:</span> -->
                  {{ row?.employeType?.name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="departments.description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
                <td mat-cell *matCellDef="let row">
                  {{ row?.departments?.description }}
                </td>
              </ng-container>

              <ng-container matColumnDef="convertedStartDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
                <td mat-cell *matCellDef="let row">
                  {{row?.convertedStartDate}}
                </td>
              </ng-container>
              <ng-container matColumnDef="employeeRole">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Role</th>
                <td mat-cell *matCellDef="let row">
                  <!-- <span [ngClass]="getStatusColor(row?.status)">
                        {{ row?.approvedDate }}
                      </span> -->
                  <!-- 3rd August 2022 -->
                </td>
              </ng-container>

              <!-- <ng-container matColumnDef="logo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row">
                      <a [routerLink]="['/employee/profile']" [queryParams]="{id:row.id}">
                        <mat-icon color="primary">visibility</mat-icon>
                      </a>
                      
                    </td>
                  </ng-container> -->


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"
                [routerLink]="['/employee/profile']" [queryParams]="{id:element.id}"
                [ngClass]="{ 'selected-row': selectedId== element.id }"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                  No Employee Data
                </td>
              </tr>
            </mat-table>

            <mat-paginator [length]="totalRecords" [pageIndex]="pageNo" [pageSizeOptions]="[5, 10, 20]"
              [pageSize]="pageSize" aria-label="Select page">
            </mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- </mat-tab>
      </mat-tab-group> -->
    </div>
  </div>
</div>