<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <div>
        <!-- <mat-card class="m-0 m-t-20 m-b-5">
          <mat-card-content class="p-15 p-b-5">
            <div class="m-l-10 m-r-10">
              <div fxLayout="row wrap" fxFlexAlign="center" class="row" style="align-items: center">
                <div fxFlex.gt-sm="80" class="p-r-10" fxFlex="100"></div>
                <div fxFlex.gt-sm="20" class="text-center" fxFlex="50">
                    <button mat-icon-button>
                      <mat-icon>cloud_download</mat-icon>
                      Export List
                      <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                  </div>
                <div fxFlex.gt-sm="20" class="p-r-10" fxFlex="100">
                  <mat-form-field>
                    <input
                      matInput
                      (keyup)="applyFilter(true)"
                      [(ngModel)]="search"
                    />
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>
                <div fxFlex.gt-sm="15" class="p-r-10" fxFlex="100">
                    <mat-form-field>
                      <mat-select  placeholder="Department">
                        <mat-option value="Option1">Option1</mat-option>
                        <mat-option value="Option2">Option2</mat-option>
                        <mat-option value="Option3">Option3</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex.gt-sm="15" class="p-r-10" fxFlex="100">
                    <mat-form-field>
                      <mat-select  placeholder="Job">
                        <mat-option value="Option1">Option1</mat-option>
                        <mat-option value="Option2">Option2</mat-option>
                        <mat-option value="Option3">Option3</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex.gt-sm="15" class="p-r-10" fxFlex="100">
                    <mat-form-field>
                      <mat-select  placeholder="Role">
                        <mat-option value="Option1">Option1</mat-option>
                        <mat-option value="Option2">Option2</mat-option>
                        <mat-option value="Option3">Option3</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex.gt-sm="15" class="p-r-10" fxFlex="100">
                    <mat-form-field>
                      <mat-select  placeholder="Gang">
                        <mat-option value="Option1">Option1</mat-option>
                        <mat-option value="Option2">Option2</mat-option>
                        <mat-option value="Option3">Option3</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex.gt-sm="20" class="font-12">
                    <mat-form-field appearance="outline">
                      <mat-label (click)="picker.open()">Select Date Range</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input
                          matStartDate
                          [(ngModel)]="startDate"
                          placeholder="Start date"
                          readonly
                          (dateChange)="applyFilter()"
                          (click)="picker.open()"
                        />
                        <input
                          matEndDate
                          placeholder="End date"
                          readonly
                          [(ngModel)]="endDate"
                          (dateChange)="applyFilter()"
                          (click)="picker.open()"
                        />
                      </mat-date-range-input>

                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
   -->
        <mat-card class="m-0 m-t-5 m-b-5">
          <mat-card-content>
            <div class="table-responsive infinite-scroll">
              <mat-table #table [dataSource]="dataSource" class="table employee-list no-wrap" matSort>
                <!-- Name Column -->
                <ng-container matColumnDef="empName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
                  <td mat-cell *matCellDef="let row">
                    <!-- <span class="header-label">days:</span> -->
  
                    <div style="display: flex; align-items: center">
                      <!-- <img
                        class="m-r-10 list-Img"
                        onerror="this.onerror=null;this.src='../../assets/img/user-default-img.jpg';"
                        [src]="
                          row && row.profileImage && row.profileImage.length > 0
                            ? row.profileImage[0]?.digitalAssets?.url
                            : ''
                        "
                        alt=""
                      /> -->
                      <!-- {{ row?.employeeName }} -->
                      <img
                        class="m-r-10 list-Img"
                        src="../../../assets/img/user-default-img.jpg"
                        alt=""
                      />
                      {{ row?.name}}
                    </div>
                  </td>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="role">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row?.role}}
                  </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="department">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row?.department }}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="job">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Job</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row?.job }}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="gang">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Gang</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row?.gang }}
                  </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="shift">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Shift</th>
                    <td mat-cell *matCellDef="let row">
                      {{ row?.shift }}
                    </td>
                  </ng-container>
                  <!-- Name Column -->
                <ng-container matColumnDef="checkIn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Check In</th>
                    <td mat-cell *matCellDef="let row">
                      {{ row?.checkIn }}
                    </td>
                  </ng-container>
                   
                   <!-- Name Column -->
                <ng-container matColumnDef="checkOut">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Check Out</th>
                    <td mat-cell *matCellDef="let row">
                      {{ row?.checkOut }}
                    </td>
                  </ng-container>
                  <!-- Name Column -->
                <ng-container matColumnDef="hours">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Hours</th>
                    <td mat-cell *matCellDef="let row">
                      {{ row?.hours}}
                    </td>
                  </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let element; columns: displayedColumns"
                  class="example-element-row"
                  style="vertical-align: top"
                  [ngClass]="{ 'selected-row': selectedId == element.id }"
                ></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" [attr.colspan]="displayedColumns.length">No Attandance Data</td>
                </tr>
              </mat-table>
  
              <!-- <mat-paginator
                [length]="totalRecords"
                [pageIndex]="pageNo"
                [pageSizeOptions]="[5, 10, 20]"
                [pageSize]="pageSize"
                aria-label="Select page"
              >
              </mat-paginator> -->
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  