.example-card{
display: flex;
flex-direction: column;
position: relative;
width: 84%;
height: 28%;
left: 2%;
top: 10%;
background: #FFEBEC;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
border-radius: 5px;
margin-bottom: 20%;
    
}
.employee-data{
position: absolute;
width: 30%;
height: 70%;
left: 2%;
top: 85%;
background: #FFFFFF;
box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
border-radius: 5px;
}
.employee-no{
    position: absolute;
    width: 12%;
    height: 58%;
    left: 2%;
    top: 186%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.employee-age{
    position: absolute;
    width: 12%;
    height: 58%;
    left: 20%;
    top: 186%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.task-data{
position: absolute;
width: 50%;
height: 160%;
left: 36%;
top: 85%;
background: #FFFFFF;
box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
border-radius: 5px;
}
.tasks-data{
position: absolute;
width: 84%;
height: 170%;
left: 2%;
top: 280%;
background: #FFFFFF;
box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
border-radius: 5px;
}
.example-header-image{
    background-image: url(../../assets/img/Mask-group.svg);
    background-size: cover;
}
.submit-button{
position: relative;
width: 17%;
height: 11%;
left: 81%;
top: 3%;

background: #EF6D35;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 15px;
}