<div class="container">
  <mat-card class="example-card">
    <mat-card-title>Hi Mathew</mat-card-title>
    <mat-card-content>
      <p>You have not updated today's job sheet</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="employee-data">
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <!-- <mat-icon>settings</mat-icon> -->
    <mat-card-title>Tasks</mat-card-title>
    <mat-card-content>
      <p>This card has divider and indeterminate progress as footer</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="tasks-data">
    <mat-card-title>My Tasks</mat-card-title>
    <!-- <mat-card-content>
      <p>This card has divider and indeterminate progress as footer</p>
    </mat-card-content> -->
  </mat-card>
</div>
