/* You can add global styles to this file, and also import other style files */

.snackbarSuccess {
    background-color: seagreen !important;
    font-weight: bold;
}

.snackbarError {
    background-color: #d51e1e !important;
}