/* You can add global styles to this file, and also import other style files */

.snackbarSuccess {
  // background-color: seagreen !important;
  background-color: #5b6846 !important;
  font-weight: bold;
}

.snackbarError {
  background-color: #d51e1e !important;
}

.custom-button-grey {
  background: #e9e4f5 !important;
  color: #764af1 !important;
  min-width: 125px !important;
}

.custom-button-light-grey {
  background: #eceaf0 !important;
  color: #947ec3 !important;
  min-width: 125px !important;
}

.custom-button-purple {
  background: #c4bad0 !important;
  color: #fff !important;
  min-width: 125px !important;
}

.custom-button-light-pink {
  background: #f5e8eb !important;
  color: #f56d91 !important;
  min-width: 125px !important;
}

.custom-button-light-green {
  background: #ecf0ec !important;
  color: #92ba92 !important;
  min-width: 125px !important;
}

.custom-button-ligh-orange {
  background: #f6f1e2 !important;
  color: #f8cb2e !important;
  min-width: 125px !important;
}

.custom-button-light-blue {
  background: #e6edff !important;
  color: #0047ff !important;
  min-width: 125px !important;
}

.custom-button-light-blue-1 {
  background: #e6f5fd !important;
  color: #0092e4 !important;
  min-width: 125px !important;
}

.custom-button-brown {
  background: #f2ede9 !important;
  color: #74461c !important;
  min-width: 125px !important;
}

.approved {
  color: #2ace58;
}

.pending {
  color: #e7b400;
}

.rejected {
  color: #d51e1e;
}

.custom-mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0em;
}

.pop-error-title {
  font-size: 16px;
}

// .approve-button {
//     color: green;
// }

// .reject-button {
//     color: red;
// }

// copied from listing of tempalte for expand table  start from here
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: auto;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-tab-list {
  background-color: #fff;
}

// copied from listing of tempalte for expand table  end here

#snav .mat-nav-list .mat-list-item a h6 {
  max-width: 94px;
}

.border1 {
  border: 1px solid #e0e0e0;
}

// .cspace-0 .mat-form-field-wrapper {
//   padding-bottom: 0;
//   margin-bottom: 0;
// }

.row-strike-through {
  text-decoration: line-through;
  background-color: lavender !important;
}

.h-128 {
  height: 128px;
}

.mh-130 {
  min-height: 130px;
}

.mat-table tr {
  vertical-align: middle;
}

.dt-range .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

// .create_user_page .mat-form-field-appearance-outline .mat-form-field-infix {
//   padding: 10px !important;
// }
// .create_user_page .mat-form-field-infix {
//   border-top: 0.084375em solid transparent !important;
// }

.mat-form-field {
  line-height: inherit !important;
}

.add-emp-stepper .mat-form-field-infix {
  padding: 0.5em 0 !important;
  border-top: 3px solid transparent !important;
}

.d-wrap {
  flex-wrap: wrap;
}

.ql-container {
  height: 200px !important;
}

.w-300 {
  width: 300px;
}

.card-wrap div .mat-card {
  margin: 10px !important;
}

.mat-list-base .profile-mat-list.mat-list-item span.mat-list-text {
  align-items: flex-start !important;
}

.fs-20 {
  font-size: 20px !important;
}

.mat-tab-g .mat-tab-label {
  min-width: 50% !important;
}

.mat-tab-g .mat-tab-group[mat-stretch-tabs]>.mat-tab-header .mat-tab-label {
  flex-basis: 0 !important;
  flex-grow: 1 !important;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// b,
// p {
//   color: #455a64;
// }
.p-5 {
  padding: 5px;
}

.p-8 {
  padding: 8px;
}

.color {
  color: #455a64;
}

.mat-tab-header-pagination-before,
.mat-tab-header-rtl .mat-tab-header-pagination-after,
.mat-tab-header-pagination {
  background: #fff !important;
}

.color_blue {
  color: #009efb;
}

.new-user-label-text {
  font-size: 25px;
  color: gray;
  font-weight: 500;
}

.new-user-main-text {
  font-size: 23px;
  color: gray;
  font-weight: 400;
}

.new-client-form .mat-form-field-wrapper {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.content-scroll-box {
  // margin-left: 10px;
  padding: 10px 16px;
  border: 1px solid grey;
  border-radius: 2px;
  max-height: 220px;
  overflow-y: scroll;
}

.content-scroll-box::-webkit-scrollbar {
  width: 8px;
  background-color: gray;
}

.content-scroll-box::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #b8b5b5;
}

.content-scroll-box::-webkit-scrollbar-track {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0/30%);
}

.btm-ft {
  display: flex;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 50%;
  flex-direction: column;
  align-content: center;
}

.btm-ft button {
  width: 150px;
  margin: auto;
}

.bottom-footer {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 10px;
  position: sticky;
  bottom: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 20px rgb(223 223 223);
  -moz-box-shadow: 0px 0px 20px rgb(223 223 223);
  box-shadow: 0px 0px 20px rgb(223 223 223);
  // margin-bottom: ;
}

html .page-wrapper .page-content {
  min-height: 100vh;
}

.page-wrapper-footer {
  display: flex;
  /* flex-flow: column; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.privacy-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 340px) {
  mat-card {
    margin: 0 !important;
  }
}

@media (max-width: 767px) {
  .mat-horizontal-stepper-header {
    padding: 0 8px !important;
  }

  .m-b-none {
    display: none;
  }

  .sm-m-l-0 {
    margin-left: 0 !important;
  }

  .m-b-sm20 {
    margin-bottom: 20px;
  }

  .example-section {
    height: auto !important;
  }

  .mat-horizontal-content-container {
    padding: 0px 10px 10px 10px !important;
  }

  .mat-step-label {
    font-size: 12px !important;
    font-weight: 400;
  }

  // .mob_m-t-120 {
  //   margin-top: 120px !important;
  // }
  .mob_p_0 {
    padding: 0 !important;
  }

  .login-register {
    height: auto !important;
  }

  .email-lbl span {
    word-break: break-word;
  }

  .email-lbl mat-icon {
    margin-top: 3px;
  }

  .email-lbl {
    align-items: flex-start !important;
  }
}

@media (max-width: 340px) {
  .m-b-xsm20 {
    margin-bottom: 20px !important;
  }
}



.search-box-select {
  width: -webkit-fill-available;
  // border: none;
  line-height: 37px;
  margin: 1px 0px 8px 0px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  border-color: inherit;

}