/* You can add global styles to this file, and also import other style files */

.snackbarSuccess {
    background-color: seagreen !important;
    font-weight: bold;
}

.snackbarError {
    background-color: #d51e1e !important;
}


.custom-button-grey {
    background: #E9E4F5 !important;
    color: #764AF1 !important;
}

.custom-button-light-grey {
    background: #ECEAF0 !important;
    color: #947EC3 !important;
}

.custom-button-purple {
    background: #c4bad0 !important;
    color: #fff !important;
}

.custom-button-light-pink {
    background: #F5E8EB !important;
    color: #F56D91 !important;
}

.custom-button-ligh-green {
    background: #ECF0EC !important;
    color: #92BA92 !important;
}

.custom-button-ligh-orange {
    background: #F6F1E2 !important;
    color: #F8CB2E !important;
}

.custom-button-light-blue {
    background: #E6EDFF !important;
    color: #0047FF !important;
}

.custom-button-light-blue-1 {
    background: #E6F5FD !important;
    color: #0092E4 !important;
}

.custom-button-brown {
    background: #F2EDE9 !important;
    color: #74461C !important;
}


.approved {
    color: #2ACE58;
}

.pending {
    color: #E7B400;
}

.rejected {
    color: #d51e1e;
}