<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row wrap" style="justify-content: center">
  <!-- Card column -->

  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card align="left">
      <mat-card-content>
        <a href="javascript:void(0);"> <mat-icon>keyboard_arrow_left</mat-icon>Back</a>
        
        <h2 align="left"><b>Personal Information</b></h2>
        <div fxLayout="row wrap" class="row">
          <div fxFlex.gt-sm="100%" fxFlex="100" class="text-center">
            <a routerLink="/"
              ><img
                src="../../../assets/img/user-default-img.jpg"
                alt="Employee image"
                width="150px"
              />
            </a>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlexAlign="left" class="row m-t-20" align="left">
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b> Salut:</b></mat-label>
            <span class="m-l-10">Mr.</span>
          </div>
          <div fxFlex.gt-sm="66.66" fxFlex="100" class="p-10"></div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>First Name:</b></mat-label>
            <span class="m-l-10">Kunal</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>Middle Name:</b></mat-label>
            <span class="m-l-10">Kumar</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>Last Name:</b></mat-label>
            <span class="m-l-10">Sharma</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>Gender:</b></mat-label>
            <span class="m-l-10">Male</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>Pronoun:</b></mat-label>
            <span class="m-l-10">----</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>Nick Name:</b></mat-label>
            <span class="m-l-10">KunSh</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>Date Of Birth:</b></mat-label>
            <span class="m-l-10">30/08/1999</span>
          </div>
          <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
            <h3 align="left">Current Address</h3>

            <mat-label><b>Address:</b></mat-label>
            <span class="m-l-10">House 45, medison streer ,abc locality,area 4</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>Suburb:</b></mat-label>
            <span class="m-l-10">Melbourne</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>State:</b></mat-label>
            <span class="m-l-10">Victoria</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>Pincode:</b></mat-label>
            <span class="m-l-10">256890</span>
          </div>
          <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
            <h3 align="left">Residential Address</h3>

            <mat-label><b>Address:</b></mat-label>
            <span class="m-l-10">House 45, medison streer ,abc locality,area 4</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>Suburb:</b></mat-label>
            <span class="m-l-10">Melbourne</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>State:</b></mat-label>
            <span class="m-l-10">Victoria</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>Pincode:</b></mat-label>
            <span class="m-l-10">256890</span>
          </div>
          <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
            <h3 align="left">Postal Address</h3>

            <mat-label><b>Address:</b></mat-label>
            <span class="m-l-10">House 45, medison streer ,abc locality,area 4</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>Suburb:</b></mat-label>
            <span class="m-l-10">Melbourne</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>State:</b></mat-label>
            <span class="m-l-10">Victoria</span>
          </div>
          <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
            <mat-label><b>Pincode:</b></mat-label>
            <span class="m-l-10">256890</span>
          </div>
          <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
          <h3  align="left">Contact Details</h3>
        </div>
            <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
              <mat-label><b>Email:</b></mat-label>
              <span class="m-l-10">Kunalsharmarok@gmail.com</span>
            </div>
            <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
              <mat-label><b>Mobile No:</b></mat-label>
              <span class="m-l-10">+61 456785678</span>
            </div>
            <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10"></div>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
