.tag-active {
  background: #1e88e5;
  color: #fff;
  padding: 5px 18px;
  border-radius: 50px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 24px;
  border: 1px solid #1e88e5;
}
.tag-default {
  background: #fff;
  color: #1e88e5;
  padding: 5px 18px;
  border-radius: 50px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 24px;
  border: 1px solid #1e88e5;
}
.border-bottom-g {
  border-bottom: 1px solid darkgray;
  cursor: pointer;
}
.border-bottom-g:last-child {
  border-bottom: 0px solid darkgray;
}
.emp-mat-label {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.emp-mat-label mat-icon {
  font-size: 20px;
  height: 20px;
}
.view-button {
  background: #fff;
  border: 1px solid gray;
  padding: 8px 33px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
}
.l-h-26 {
  line-height: 26px;
}
// .mat-tab-label {
//   min-width: 50%;
// }
.right-btn-s {
  background: content-box;
  color: #1e88e5;
  font-size: 15px;
}
.right-btn-s mat-icon {
  height: 30px;
  width: 30px;
  font-size: 30px;
}
.demand-list{
  height: 500px;
  overflow-y: auto;
  display: block !important;
}
